Icon/ESB/Schemas/Icon.Esb.Schemas.Wfm/Schemas/Common/CommonRefTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" xmlns:ihy="http://schemas.wfm.com/Enterprise/HierarchyMgmt/Hierarchy/V2" xmlns:trt="http://schemas.wfm.com/Enterprise/TraitMgmt/Trait/V2" xmlns:lnk="http://schemas.wfm.com/Enterprise/RetailMgmt/LinkType/V1" xmlns:grp="http://schemas.wfm.com/Enterprise/RetailMgmt/GroupType/V2" xmlns:erf="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefEnumTypes/V1" xmlns:nmt="http://schemas.wfm.com/Enterprise/RetailMgmt/NameType/V2" xmlns:tmz="http://schemas.wfm.com/Enterprise/TimezoneMgmt/Timezone/V2" targetNamespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4">
	<!-- ================== -->
	<!-- Schema Imports             -->
	<!-- ================== -->
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/GroupType/V2" schemaLocation="GroupType.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/LinkType/V1" schemaLocation="LinkType.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/NameType/V2" schemaLocation="NameType.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/HierarchyMgmt/Hierarchy/V2" schemaLocation="../Hierarchy/Hierarchy.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TraitMgmt/Trait/V2" schemaLocation="../Trait/Trait.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefEnumTypes/V1" schemaLocation="CommonRefEnumTypes.xsd"/>
	<!-- ================== -->
	<!-- Simple Types                 -->
	<!-- ================== -->
	<xs:attribute name="Action" type="erf:ActionEnum">
		<xs:annotation>
			<xs:documentation>
				Type of event/action the element should take. Add, Inactivate, Update, Archive, Insert, Inherit, Delete, Reset etc.
			  </xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="Id" type="WfmStrType">
		<xs:annotation>
			<xs:documentation>
				This attribute will be used to capture identifier metadata, for eg: GPMID
			  </xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="fiscalYear" type="YearType"/>
	<xs:attribute name="fiscalPeriod" type="FiscalPeriodType"/>
	<xs:attribute name="fiscalStart" type="WfmDateType"/>
	<xs:attribute name="fiscalEnd" type="WfmDateType"/>
	<xs:simpleType name="CalendarDayNumType">
		<xs:restriction base="WfmIntType">
			<xs:totalDigits value="2"/>
			<xs:pattern value="(3[01])|([12][0-9])|(0?[1-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CalendarMonthNumType">
		<xs:restriction base="WfmIntType">
			<xs:totalDigits value="2"/>
			<xs:pattern value="([1][012])|(0?[1-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeType">
		<xs:annotation>
			<xs:documentation>
				a code/abbreviation for a description 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="Decimal7.4Type">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="WfmDecimalType">
			<xs:totalDigits value="7"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal9.2Type">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="WfmDecimalType">
			<xs:totalDigits value="9"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DescriptionType">
		<xs:annotation>
			<xs:documentation>
				a description 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="FiscalPeriodType">
		<xs:restriction base="WfmIntType">
			<xs:totalDigits value="2"/>
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NameType">
		<xs:annotation>
			<xs:documentation>
				name of some thing
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="IdIntType">
		<xs:annotation>
			<xs:documentation>
				main id/key as integer     
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="IdStrType">
		<xs:annotation>
			<xs:documentation>
				main id/key as string     
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PercentageType">
		<xs:annotation>
			<xs:documentation> natural, non-negative percentage type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="WfmDecimalType">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="5"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SequenceNumberType">
		<xs:restriction base="xs:unsignedLong">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeType">
		<xs:annotation>
			<xs:documentation>
				Type 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="WfmBoolType">
		<xs:annotation>
			<xs:documentation>
				true/false yes/no
			  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="WfmDateType">
		<xs:annotation>
			<xs:documentation>
				date time to be used for timestamps (eg. start/end times)
			  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="WfmDateTimeType">
		<xs:annotation>
			<xs:documentation>
				date time to be used for timestamps (eg. start/end times)
			  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="WfmDecimalType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="WfmIntType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="WfmStrType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="YearType">
		<xs:annotation>
			<xs:documentation>years between 1900-2099 accepted</xs:documentation>
		</xs:annotation>
		<xs:restriction base="WfmStrType">
			<xs:length value="4"/>
			<xs:pattern value="(19|20)\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ================== -->
	<!-- Referring Entity IDs         -->
	<!-- ================== -->
	<xs:simpleType name="AffinityIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="AddressIdType">
		<xs:restriction base="IdIntType"/>
	</xs:simpleType>
	<xs:simpleType name="BusinessUnitIdType">
		<xs:annotation>
			<xs:documentation>
				Business Unit - accounting reference number of store/location
			  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="IdIntType"/>
	</xs:simpleType>
	<xs:simpleType name="DemographicIdType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="InvoiceIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="HierarchyIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="HierarchyClassIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="ItemIdType">
		<xs:restriction base="IdIntType"/>
	</xs:simpleType>
	<xs:simpleType name="LocaleIdType">
		<xs:annotation>
			<xs:documentation>Unique identifier sent by Icon as Locale Id</xs:documentation>
		</xs:annotation>
		<xs:restriction base="WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="OrgIdType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="PartyIdType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="PriceIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="RewardIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="GPMIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="PromotionIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="ScanCodeIdType">
		<xs:restriction base="IdIntType"/>
	</xs:simpleType>
	<xs:simpleType name="ScanCodeTypeIdType">
		<xs:restriction base="IdIntType"/>
	</xs:simpleType>
	<xs:simpleType name="StoreIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="TaxRateIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="TaxRuleIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="TaxGroupIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="TaxJurisdictionIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="TaxZoneIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="TenderIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="TransactionIdType">
		<xs:restriction base="IdStrType"/>
	</xs:simpleType>
	<!-- ================== -->
	<!-- Complex Types               -->
	<!-- ================== -->
	<xs:complexType name="DayofWeekType">
		<xs:sequence>
			<xs:element name="name" type="erf:DayOfWeekNameEnum" minOccurs="0"/>
			<xs:element name="abbreviation" type="erf:DayOfWeekAbbrEnum" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DayType">
		<xs:sequence>
			<xs:element name="calendarNumber" type="CalendarDayNumType" minOccurs="0"/>
			<xs:element name="dayOfWeek" type="DayofWeekType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MonthOfYearType">
		<xs:sequence>
			<xs:element name="name" type="erf:MonthOfYearNameFullEnum" minOccurs="0"/>
			<xs:element name="abbreviation" type="erf:MonthOfYearAbbrEnum" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MonthType">
		<xs:sequence>
			<xs:element name="calendarNumber" type="CalendarMonthNumType" minOccurs="0"/>
			<xs:element name="monthOfYear" type="MonthOfYearType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateSeparatedType">
		<xs:sequence>
			<xs:element name="year" type="YearType" minOccurs="0"/>
			<xs:element name="day" type="DayType" minOccurs="0"/>
			<xs:element name="month" type="MonthType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HierarchiesType">
		<xs:sequence>
			<xs:element name="hierarchy" type="ihy:HierarchyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupsType">
		<xs:sequence>
			<xs:element name="group" type="grp:GroupTypeType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinksType">
		<xs:sequence>
			<xs:element name="link" type="lnk:LinkTypeType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReasonsCodeType">
		<xs:sequence>
			<xs:element name="reason" type="ReasonCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReasonCodeType">
		<xs:complexContent>
			<xs:extension base="nmt:NameTypeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TraitsType">
		<xs:sequence>
			<xs:element name="trait" type="trt:TraitType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EncryptedDataType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="Cryptogram" type="WfmStrType" form="unqualified"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>