Projects/IRMA Handheld Plugin/WholeFoods.Mobile.IRMA/WholeFoods.Mobile.IRMA/Web References/iat-nc/IRMA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA.Inventory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA.Inventory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Shrink">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustmentID" type="xs:int" />
      <xs:element minOccurs="0" name="AdjustmentReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedByUserID" type="xs:int" />
      <xs:element minOccurs="0" name="ExtendedCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="InventoryAdjustmentCodeAbbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemKey" type="xs:int" />
      <xs:element minOccurs="0" name="OrderItemID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="StoreNo" type="xs:int" />
      <xs:element minOccurs="0" name="SubteamNo" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shrink" nillable="true" type="tns:Shrink" />
</xs:schema>