Icon/Tibco/SharedLibraries/SharedSchemas/SharedResources/Schemas/WholeFoodsMarket/Item/TransactionItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (x64) (http://www.altova.com) by Madelyn Lescalleet (Whole Foods) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:crf="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" xmlns:irf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefItemTypes/V1" xmlns:tmf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefEnumTypes/V1" xmlns:yrf="http://schemas.wfm.com/Legal/Retail/TaxMgmt/TransactionTax/V1" xmlns:amt="http://schemas.wfm.com/Enterprise/AmountMgmt/Amount/V1" xmlns:itm="http://schemas.wfm.com/Enterprise/ItemMgmt/Item/V1" xmlns:prf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefPromotionTypes/V1" xmlns:txf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTypes/V1" xmlns:prc="http://schemas.wfm.com/Enterprise/PriceMgmt/Price/V2" xmlns="http://schemas.wfm.com/Enterprise/TransactionMgmt/RetailTransaction/LineItemType/TransactionItemBaseType/V1" targetNamespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/RetailTransaction/LineItemType/TransactionItemBaseType/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="10.2">
	<!-- ================== -->
	<!-- Schema Imports             -->
	<!-- ================== -->
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" schemaLocation="../Common/CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTypes/V1" schemaLocation="../Transaction/Common/CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefEnumTypes/V1" schemaLocation="../Transaction/Common/CommonRefEnumTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefItemTypes/V1" schemaLocation="../Transaction/Common/CommonRefItemTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefPromotionTypes/V1" schemaLocation="../Transaction/Common/CommonRefPromoTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/ItemMgmt/Item/V1" schemaLocation="Item.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/AmountMgmt/Amount/V1" schemaLocation="../Amount/Amount.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/PriceMgmt/Price/V2" schemaLocation="../Price/Price.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Legal/Retail/TaxMgmt/TransactionTax/V1" schemaLocation="../Tax/TransactionTax.xsd"/>
	<!-- ================== -->
	<!-- Global Elements             -->
	<!-- ================== -->
	<xs:element name="transactionItemBase" type="TransactionItemBaseType"/>
	<xs:complexType name="TransactionItemBaseType">
		<xs:sequence>
			<xs:element name="isNotOnFile" type="crf:WfmBoolType" minOccurs="0"/>
			<xs:element name="id" type="irf:TransactionItemIdType"/>
			<xs:element name="posItemType" type="tmf:RetailTransactionItemTypeEnum" minOccurs="0"/>
			<xs:element name="posItem" type="itm:ItemType"/>
			<xs:element name="extendedAmount" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="extendedDiscountAmount" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="quantities" type="txf:QuantitiesType" minOccurs="0"/>
			<xs:element name="retailPriceModifiers" type="irf:RetailPriceModifiersType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="groupIndicators" type="irf:GroupIndicatorType" minOccurs="0"/>
			<xs:element name="promotionTenderRewards" type="prf:PromotionRewards" minOccurs="0"/>
			<xs:element name="promotionDeferredRewards" type="prf:PromotionDeferredRewards" minOccurs="0"/>
			<xs:element name="taxes" type="yrf:TransactionTaxesType" minOccurs="0"/>
			<xs:element name="wic" type="irf:WICType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
