Icon/Monitoring/Icon.Dashboard/Icon.Dashboard.Mvc/EsbEnvironments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="EsbEnvironments">
    <xs:sequence>
      <xs:element name="EsbEnvironment" minOccurs="0" maxOccurs="unbounded" type="EsbEnvironment"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EsbEnvironment">
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="ServerUrl" type="xs:string" use="required" />
    <xs:attribute name="TargetHostName" type="xs:string" use="required"/>
    <xs:attribute name="JmsUsername" type="xs:string" use="required" />
    <xs:attribute name="JmsPassword" type="xs:string" use="required" />
    <xs:attribute name="JndiUsername" type="xs:string" use="required" />
    <xs:attribute name="JndiPassword" type="xs:string" use="required" />
    <!--<xs:attribute name="ConnectionFactoryName" type="xs:string" use="optional" />-->
    <xs:attribute name="SslPassword" type="xs:string" use="optional" />
    <!--<xs:attribute name="QueueName" type="xs:string" use="optional" />-->
    <xs:attribute name="SessionMode" type="xs:string" use="optional" />
    <xs:attribute name="CertificateName" type="xs:string" use="optional" />
    <xs:attribute name="CertificateStoreName" type="xs:string" use="optional" />
    <xs:attribute name="CertificateStoreLocation" type="xs:string" use="optional" />
    <xs:attribute name="ReconnectDelay" type="xs:integer" use="optional" />
    <xs:attribute name="NumberOfListenerThreads" type="xs:integer" use="optional" />
  </xs:complexType>

</xs:schema>