Icon/Tibco/SharedLibraries/SharedSchemas/SharedResources/Schemas/Mammoth/MammothPricesWithError.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns1="http://schemas.wfm.com/Mammoth/MammothPricesWithError.xsd"
	 xmlns:tns="http://schemas.wfm.com/Mammoth/MammothPrices.xsd"
	 xmlns:ns0="http://schemas.wfm.com/Mammoth/Error.xsd"
	 targetNamespace="http://schemas.wfm.com/Mammoth/MammothPricesWithError.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.wfm.com/Mammoth/MammothPrices.xsd" schemaLocation="MammothPrices.xsd"/>
	<xs:element name="MammothPriceWithErrorInfo" type="ns1:MammothPriceWithErrorType"/>
	<xs:element name="MammothPricesWithErrorInfo" type="ns1:MammothPricesWithErrorType"/>
	<xs:complexType name="MammothPriceWithErrorType">
		<xs:sequence>
			<xs:element name="MammothPrice" type="tns:MammothPriceType"/>
			<xs:element name="ErrorCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ErrorDetails" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MammothPricesWithErrorType">
		<xs:sequence>
			<xs:element name="MammothPriceWithErrorType" type="ns1:MammothPriceWithErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>