Icon/ESB/Schemas/Icon.Esb.Schemas.Infor/Schemas/ProcessBOD/PriceChangeMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
  <xs:element name="PriceChangeMaster">
    <xs:annotation>
      <xs:documentation>Release date: 10/3/2017.  See Notes.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="PriceChangeMasterType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PriceChangeDiffType">
    <xs:sequence>
      <xs:element name="Action">
        <xs:annotation>
          <xs:documentation>This is the desired action for the specific price change.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ADD"/>
            <xs:enumeration value="DELETE"/>
            <xs:enumeration value="UPDATE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PriceType" type="xs:string">
        <xs:annotation>
          <xs:documentation>The type of price.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>This is the  effective start date of the price change which indicates when it is active inthe  selling location.  It's in MM/DD/CCYY format.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ItemID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifier for Item</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocationID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifier for Location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Price">
        <xs:annotation>
          <xs:documentation>Item Price as xs:decimal.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:decimal">
              <xs:attribute name="precision" type="xs:integer" default="2">
                <xs:annotation>
                  <xs:documentation>Number of decimals places (precision) of the value.  Default is 2</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Multiple" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The number of multiple items.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MultiplePrice" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Multiple item price as decimal. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:decimal">
              <xs:attribute name="precision" type="xs:integer" default="2">
                <xs:annotation>
                  <xs:documentation>Number of decimals places (precision) of the value.  Default is 2</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Currency" type="xs:string" default="USD" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Currency type.  Default is USD.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UOM">
        <xs:annotation>
          <xs:documentation>Unit of Measure (Pounds, Each)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="EACH"/>
            <xs:enumeration value="POUNDS"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PriceChangeID" type="UUID" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identifies the ID of the Price Change.   This is the GPM ID and is optional.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Attribute" type="AttributeValueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PriceChangeFamilyType">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PriceChangeType">
    <xs:annotation>
      <xs:documentation>Released 10/3/2017</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PatchFamilyID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Patch family identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PatchNum" type="xs:nonNegativeInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Patch sequence number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimeStamp" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Date/Time for the Patch</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="PriceChangeDiff" type="PriceChangeDiffType">
          <xs:annotation>
            <xs:documentation>The sequence of instructions needed tt oonvey  price changes.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="isCheckPoint" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>When true, it informs the client that they may reset their state to a consistent state of the price manager.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PriceChangeMasterType">
    <xs:sequence>
      <xs:element name="BusinessKey">
        <xs:annotation>
          <xs:documentation>Unique identifier for the message. Previoiusly, this was a GUID/UUID. It is notw xs:string</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="variationID" type="xs:nonNegativeInteger" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="PriceChangeHeader" type="PriceChangeType"/>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="isCheckPoint" type="xs:boolean"/>
  </xs:complexType>
  <xs:complexType name="AuditInfo">
    <xs:sequence>
      <xs:element name="CreatedBy">
        <xs:annotation>
          <xs:documentation>
            ID of the user who created this entity.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="ID" type="UUID">
              <xs:annotation>
                <xs:documentation>UUID of user creating this entity.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Name or other text ID of User who created this entity.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdatedBy" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            ID of the user who last updated this entity.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="ID" type="UUID">
              <xs:annotation>
                <xs:documentation>UUID of user creating this entity.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Name or other  text ID of user who updated this entity.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="ArchivedBy" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ID of the user who archiived this entity.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="ID" type="UUID">
              <xs:annotation>
                <xs:documentation>UUID of user archiving this entity.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Name or other text ID of user who archived this  entity.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreatedDate">
        <xs:annotation>
          <xs:documentation>
            Time at which this entity was created.  The  format of the this an the other dateTimes within the AuditInfo structure is:  YYYY-MM-DDTHH:NN:SS.zzzZ
          </xs:documentation>
          <xs:appinfo>
            <altova:exampleValues>
              <altova:example value="2017-10-04T10:00:00Z"/>
            </altova:exampleValues>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="UpdatedDate" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Time at which this entity was last updated.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ArchivedDate" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Time at which this entity  was archived.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeValueType">
    <xs:sequence>
      <xs:element name="AttributeID" type="xs:string">
        <xs:annotation>
          <xs:documentation>An identifier used to reference the attribute outside of IM.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InforInternalID" type="UUID" minOccurs="0">
        <xs:annotation>
          <xs:documentation>UUID assigned by IM for the Attribute.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Attribute Name / Tag Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttrValueLock" type="xs:boolean" default="false" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Is the Attribute Locked? If  true, only those with  unlock privileges can change the attribute. Default  is false</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ItemAttrLock" type="xs:boolean" default="false" minOccurs="0">
        <xs:annotation>
          <xs:documentation>If the Attribute is associated with  an Item and locked, the  attribute  can not  be  edited on the item unless the user has proper privileges. Default  is false</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttributeOrigin" type="xs:string" default="false" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates the origin of Attribute (Item, Hierarchy, ReferenceData)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Values" type="ValueType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Associated value  type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MetaData" type="PropertyType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Properties of an attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createOnly">
      <xs:annotation>
        <xs:documentation>This attribute, if defined and set to true, indicates that the attribute is to be created and and it's initial value set.  Subsequent updates to the attribute will not effect a change of the value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="primaryID" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>The primaryID attribute is used to indicate whether the  particular attribute should be used a key (single or composite) when referencing data.  This attribute is primarily used with Reference Data.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PropertyType">
    <xs:sequence>
      <xs:element name="ID" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>An  identifier that is used by  an external entity to identify the  Property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InforInternalID" type="UUID">
        <xs:annotation>
          <xs:documentation>The internal identifier applied by the system for this property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>The name of the Property</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Value" type="ValueType">
        <xs:annotation>
          <xs:documentation>The value of the property.  The value may be a single ValueType or a composite.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createOnly" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>This attribute, if defined and set to true, indicates that the attribute is to be created and and it's initial value set.  Subsequent updates to the attribute will not effect a change of the value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ValueType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="AttributeType">
        <xs:annotation>
          <xs:documentation>The data type of the  underlying  value.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="NumberValue" type="xs:double">
          <xs:annotation>
            <xs:documentation>Value  is of type xs:double</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="IntegerValue" type="xs:integer">
          <xs:annotation>
            <xs:documentation>Value is an integer type (i.e. zero precision)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="StringValue" type="xs:string">
          <xs:annotation>
            <xs:documentation>Value is of type xs:string</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DateTimeValue" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>Value is of type xs:DateTime</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="BooleanValue" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Value is type xs:boolean</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="UUIDValue" type="UUID">
          <xs:annotation>
            <xs:documentation>Value  is of type UUID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MetaData" type="PropertyType">
          <xs:annotation>
            <xs:documentation>Value is of type MetaData</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeValuesType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Attribute" type="AttributeValueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UUID">
    <xs:restriction base="xs:string">
      <xs:length value="36" fixed="true"/>
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
