OutOfStock/DEV.OLD/KnownUploadClientUI/Service References/KnownUploader/KnownUploader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.wholefoods.com/knownupload" elementFormDefault="qualified" targetNamespace="http://schemas.wholefoods.com/knownupload" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doc" nillable="true" type="tns:KnownUploadDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="KnownUploadDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemData" nillable="true" type="tns:ArrayOfKnownItemData" />
      <xs:element minOccurs="0" name="UploadDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VendorRegionMap" nillable="true" type="tns:ArrayOfKnownVendorRegionMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KnownUploadDocument" nillable="true" type="tns:KnownUploadDocument" />
  <xs:complexType name="ArrayOfKnownItemData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KnownItemData" nillable="true" type="tns:KnownItemData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKnownItemData" nillable="true" type="tns:ArrayOfKnownItemData" />
  <xs:complexType name="KnownItemData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Psbu" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubteamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KnownItemData" nillable="true" type="tns:KnownItemData" />
  <xs:complexType name="ArrayOfKnownVendorRegionMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KnownVendorRegionMap" nillable="true" type="tns:KnownVendorRegionMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKnownVendorRegionMap" nillable="true" type="tns:ArrayOfKnownVendorRegionMap" />
  <xs:complexType name="KnownVendorRegionMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KnownVendorRegionMap" nillable="true" type="tns:KnownVendorRegionMap" />
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>