IRMA/Projects/WFM Mobility/Client/Client/Plugins.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Plugins">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Plugin">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DevicePath" type="xs:string" />
              <xs:element name="UpdateURI" type="xs:string" />
              <xs:element name="UpdateFileName" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="updateTo" type="xs:string" use="required" />
            <xs:attribute name="updateEnabled" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>