OutOfStock/Legacy/BizTalk/QuiverToICIX/QuiverService/ICIX/Service1_tempuri_org.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\Service1.xsd" />
  <xs:element name="AddIncident">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update" nillable="true" type="IcixUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIncidentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddIncidentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>