OutOfStock/Legacy/BizTalk/WFM.Nexus.BTS.POC/WFM.Nexus.BTS.POC.BTS/StoreConsumer/StoreConsumer_tempuri_org.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\StoreConsumer_schemas_datacontract_org_2004_07_OOS_Model_Feed.xsd" namespace="http://schemas.datacontract.org/2004/07/OOS.Model.Feed" />
  <xs:element name="Consume">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OOS.Model.Feed" minOccurs="0" name="feeds" nillable="true" type="q1:ArrayOfStoreFeed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>