OutOfStock/Legacy/BizTalk/WFM.Nexus.BTS.POC/WFM.Nexus.BTS.POC.BTS/StoreConsumer/StoreConsumer_schemas_datacontract_org_2004_07_OOS_Model_Feed.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OOS.Model.Feed" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OOS.Model.Feed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStoreFeed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoreFeed" nillable="true" type="tns:StoreFeed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoreFeed" nillable="true" type="tns:ArrayOfStoreFeed" />
  <xs:complexType name="StoreFeed">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="blogid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="facility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="folder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mapblurb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="miscinfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modified_dt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="store_keys" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tlc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipchar" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreFeed" nillable="true" type="tns:StoreFeed" />
</xs:schema>