Libraries/Wholefoods.IRMA.FaxLog/Wholefoods.IRMA.FaxLog/TransmissionLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="log">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="response" />
            </xs:sequence>
            <xs:attribute name="po" type="xs:unsignedShort" use="required" />
            <xs:attribute name="destination" type="xs:unsignedLong" use="required" />
            <xs:attribute name="status" type="xs:string" use="required" />
            <xs:attribute name="attempts" type="xs:unsignedByte" use="required" />
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="timestamp" type="xs:string" use="required" />
            <xs:attribute name="resend" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>