IRMA/Projects/IRMA Handheld Plugin/WholeFoods.Mobile.IRMA/WholeFoods.Mobile.IRMA/Web References/localhost/IRMA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRole" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRole" nillable="true" type="tns:ArrayOfUserRole" />
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAccountEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAccountant" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsApplicationConfigAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBuyer" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCoordinator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCostAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDCAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDataAdministrator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDistributor" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEInvoicingAdministator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFacilityCreditProcessor" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInventoryAdministrator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsItemAdministrator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsJobAdministrator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLockAdministrator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPOAccountant" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPOApprovalAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPOSInterfaceAdministrator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPricebatchProcessor" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSecurityAdministrator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsShrink" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsShrinkAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsStoreAdministrator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuperUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSystemConfigurationAdministrator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserMaintenance" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVendorAdministrator" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVendorCostDiscrepancyAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWarehouse" type="xs:boolean" />
      <xs:element minOccurs="0" name="TelxonStoreLimit" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
</xs:schema>