IRMA/Projects/IRMA Handheld Plugin/WholeFoods.Mobile.IRMA/WholeFoods.Mobile.IRMA/Web References/localhost/IRMA3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17602/IRMA.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA.Security" />
  <xs:import schemaLocation="http://localhost:17602/IRMA.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" />
  <xs:import schemaLocation="http://localhost:17602/IRMA.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA.Inventory" />
  <xs:element name="GetUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA.Security" minOccurs="0" name="GetUserRoleResult" nillable="true" type="q1:ArrayOfUserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvironmentGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreFtpConfigByStoreAndWriterType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Store_No" type="xs:int" />
        <xs:element minOccurs="0" name="FileWriterType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreFtpConfigByStoreAndWriterTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetStoreFtpConfigByStoreAndWriterTypeResult" nillable="true" type="q2:ArrayOfLists.StoreFTPConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreFtpConfigDataForWriterType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileWriterType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreFtpConfigDataForWriterTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetStoreFtpConfigDataForWriterTypeResult" nillable="true" type="q3:ArrayOfLists.StoreFTPConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetItemUnitsResult" nillable="true" type="q4:ArrayOfLists.ItemUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShrinkAdjustmentReasons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShrinkAdjustmentReasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetShrinkAdjustmentReasonsResult" nillable="true" type="q5:ArrayOfLists.ShrinkAdjustmentReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Item_Key" type="xs:int" />
        <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetItemResult" nillable="true" type="q6:ArrayOfLists.GetItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceDataFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlagKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Store_No" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceDataFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInstanceDataFlagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubteams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubteamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetSubteamsResult" nillable="true" type="q7:ArrayOfLists.Subteam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetStoresResult" nillable="true" type="q8:ArrayOfLists.Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventorylocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lStoreNo" type="xs:long" />
        <xs:element minOccurs="0" name="lSubTeamNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventorylocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetInventorylocationsResult" nillable="true" type="q9:ArrayOfInventoryLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShrinkAdjustment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA.Inventory" minOccurs="0" name="Adjustment" nillable="true" type="q10:Shrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShrinkAdjustmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShrinkAdjustmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iStoreNo" type="xs:int" />
        <xs:element minOccurs="0" name="iTransferToSubteam_To" type="xs:int" />
        <xs:element minOccurs="0" name="iUser_ID" type="xs:int" />
        <xs:element minOccurs="0" name="iItem_Key" type="xs:int" />
        <xs:element minOccurs="0" name="sIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetStoreItemResult" nillable="true" type="q11:StoreItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToReprintSignQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lUser_ID" type="xs:long" />
        <xs:element minOccurs="0" name="iSourceType" type="xs:int" />
        <xs:element minOccurs="0" name="sItemList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sItemListSeperator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iStoreNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToReprintSignQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToReprintSignQueueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToOrderQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTransfer" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsCredit" type="xs:boolean" />
        <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
        <xs:element minOccurs="0" name="UnitID" type="xs:int" />
        <xs:element minOccurs="0" name="iUser_ID" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="si" nillable="true" type="q12:StoreItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToOrderQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToOrderQueueResult" type="xs:boolean" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="si" nillable="true" type="q13:StoreItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveOrderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dQuantity" type="xs:decimal" />
        <xs:element minOccurs="0" name="dWeight" type="xs:decimal" />
        <xs:element minOccurs="0" name="dtDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bCorrection" type="xs:boolean" />
        <xs:element minOccurs="0" name="iOrderItem_ID" type="xs:int" />
        <xs:element minOccurs="0" name="dPackSize" type="xs:decimal" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveOrderItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lOrderID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetOrderResult" nillable="true" type="q14:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lExternalSourceOrderID" type="xs:int" />
        <xs:element minOccurs="0" name="iStore_No" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetExternalOrdersResult" nillable="true" type="q15:ArrayOfLists.ExternalOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreItemOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iStoreNo" type="xs:int" />
        <xs:element minOccurs="0" name="iTransferToSubteamNo" type="xs:int" />
        <xs:element minOccurs="0" name="iItemKey" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreItemOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetStoreItemOrderInfoResult" nillable="true" type="q16:StoreItemOrderInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreItemCycleCountInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="si" nillable="true" type="q17:StoreItem" />
        <xs:element minOccurs="0" name="lInventoryLocationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreItemCycleCountInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetStoreItemCycleCountInfoResult" nillable="true" type="q18:CycleCountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCycleCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lStoreNo" type="xs:long" />
        <xs:element minOccurs="0" name="lSubTeamNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCycleCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" minOccurs="0" name="GetCycleCountResult" nillable="true" type="q19:CycleCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCycleCountHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lMasterCountID" type="xs:long" />
        <xs:element minOccurs="0" name="dStartScan" type="xs:dateTime" />
        <xs:element minOccurs="0" name="lInventoryLocationId" type="xs:long" />
        <xs:element minOccurs="0" name="bExternal" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCycleCountHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCycleCountHeaderResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCycleCountItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lItemKey" type="xs:long" />
        <xs:element minOccurs="0" name="dQuantity" type="xs:decimal" />
        <xs:element minOccurs="0" name="dWeight" type="xs:decimal" />
        <xs:element minOccurs="0" name="dPackSize" type="xs:decimal" />
        <xs:element minOccurs="0" name="bIsCaseCnt" type="xs:boolean" />
        <xs:element minOccurs="0" name="lCycleCountID" type="xs:long" />
        <xs:element minOccurs="0" name="lInvLocID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCycleCountItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RunPOSPush">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sAppPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEmailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunPOSPushResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunPOSPushResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnServiceConnectionString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnServiceConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnServiceConnectionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>