Icon/Tibco/LoggingService/SharedResources/Schemas/wfm-2.3.0.2050/WholeFoodsMarket/Transaction/Type/CommonRefTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (x64) (http://www.altova.com) by Madelyn Lescalleet (Whole Foods) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.wfm.com/Enterprise/TransactionMgmt/Type/CommonRefTypes/V2" xmlns:tmf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefEnumTypes/V1" xmlns:txf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTypes/V1" xmlns:arf="http://schemas.wfm.com/Enterprise/AddressMgmt/CommonRefTypes/V1" xmlns:taf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTenderTypes/V1" xmlns:lif="http://schemas.wfm.com/Enterprise/TransactionMgmt/LineItemType/CommonRefTypes/V2" xmlns:prf="http://schemas.wfm.com/Enterprise/PartyMgmt/Party/V2" xmlns:irf="http://schemas.wfm.com/Enterprise/ItemMgmt/CommonRefTypes/V1" xmlns:erf="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefEnumTypes/V1" xmlns:crf="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" xmlns:amt="http://schemas.wfm.com/Enterprise/AmountMgmt/Amount/V1" xmlns:nmt="http://schemas.wfm.com/Enterprise/RetailMgmt/NameType/V2" xmlns:str="http://schemas.wfm.com/Enterprise/StoreMgmt/Store/V2" xmlns:tmz="http://schemas.wfm.com/Enterprise/TimezoneMgmt/Timezone/V2" xmlns:tpy="http://schemas.wfm.com/Enterprise/TransactionMgmt/Party/V1" xmlns:uom="http://schemas.wfm.com/Enterprise/UnitOfMeasureMgmt/UnitOfMeasure/V2" targetNamespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/Type/CommonRefTypes/V2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.0">
	<!-- ================== -->
	<!-- Schema Imports             -->
	<!-- ================== -->
	<xs:import namespace="http://schemas.wfm.com/Enterprise/AddressMgmt/CommonRefTypes/V1" schemaLocation="../../Address/CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" schemaLocation="../../Common/CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefEnumTypes/V1" schemaLocation="../../Common/CommonRefEnumTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTypes/V1" schemaLocation="../Common/CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefEnumTypes/V1" schemaLocation="../Common/CommonRefEnumTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTenderTypes/V1" schemaLocation="../Common/CommonRefTenderTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/LineItemType/CommonRefTypes/V2" schemaLocation="../LineItem/CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/NameType/V2" schemaLocation="../../Common/NameType.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/ItemMgmt/CommonRefTypes/V1" schemaLocation="../../Item/CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/PartyMgmt/Party/V2" schemaLocation="../../Party/Party.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/Party/V1" schemaLocation="../../Party/TransactionParty.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/AmountMgmt/Amount/V1" schemaLocation="../../Amount/Amount.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/StoreMgmt/Store/V2" schemaLocation="../../Store/Store.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TimezoneMgmt/Timezone/V2" schemaLocation="../../Timezone/Timezone.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/UnitOfMeasureMgmt/UnitOfMeasure/V2" schemaLocation="../../Uom/UnitOfMeasure.xsd"/>
	<!-- ================== -->
	<!--  Simple Types                -->
	<!-- ================== -->
	<xs:simpleType name="CountType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="crf:WfmIntType"/>
	</xs:simpleType>
	<xs:simpleType name="SafeIdType">
		<xs:restriction base="crf:IdStrType"/>
	</xs:simpleType>
	<!-- ================== -->
	<!-- Complex Types               -->
	<!-- ================== -->
	<xs:complexType name="AdjustedNewTenderType">
		<xs:sequence>
			<xs:element name="type" type="lif:TenderTypeCode">
				<xs:annotation>
					<xs:documentation>The type of Tender being counted &amp; adjusted</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tenderId" type="crf:TenderIdType" minOccurs="0"/>
			<xs:element name="count" type="crf:WfmDecimalType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The new tender count being adjusted</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="amt:AmountType">
				<xs:annotation>
					<xs:documentation>The total amount being adjusted (tender adjustment total); the final amount at this moment in time</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdjustedOriginalTenderType">
		<xs:sequence>
			<xs:element name="type" type="lif:TenderTypeCode">
				<xs:annotation>
					<xs:documentation>The type of Tender counted and adjusted</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tenderId" type="crf:TenderIdType" minOccurs="0"/>
			<xs:element name="count" type="crf:WfmDecimalType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The tender count adjusted</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transactionAmount" type="amt:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>original transaction total amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="amt:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>original amount for specific tender</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdjustedPreviousTenderType">
		<xs:sequence>
			<xs:element name="tenderId" type="crf:TenderIdType" minOccurs="0"/>
			<xs:element name="amount" type="amt:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the tender amount before this adjustment (could be different than original amount in case of multiple adjustments)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdjustmentsTenderType">
		<xs:sequence>
			<xs:element name="adjustment" type="AdjustmentTenderType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdjustmentTenderType">
		<xs:sequence>
			<xs:element name="type" type="tmf:TenderAdjustmentTypeEnum" minOccurs="0"/>
			<xs:element name="reason" type="crf:ReasonCodeType"/>
			<xs:element name="transactionLink" type="crf:TransactionIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the current transaction's sequence #</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sequenceNumber" type="crf:SequenceNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the index of the adjustment (there could be more than one adjustment performed on a single transaction, the sequence order is important); example, if this is the 2nd adjustment vs the 1st</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newTender" type="AdjustedNewTenderType"/>
			<xs:element name="previousTender" type="AdjustedPreviousTenderType" minOccurs="0"/>
			<xs:element name="originalTender" type="AdjustedOriginalTenderType"/>
			<xs:element name="beginDateTime" type="tmz:DateTimezoneType" minOccurs="0"/>
			<xs:element name="operator" type="prf:PartyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialOrderNumber">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ItemCount">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BankDetailType">
		<xs:sequence>
			<xs:element name="totals" type="TenderPOSLogTotalsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankDepositType">
		<xs:sequence>
			<xs:element name="bank" type="crf:WfmStrType"/>
			<xs:element name="description" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="accounts" type="TenderControlAccountsType" minOccurs="0"/>
			<xs:element name="bagId" type="crf:WfmStrType"/>
			<xs:element name="depositor" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="amount" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="bankDetail" type="BankDetailType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankReceiptType">
		<xs:sequence>
			<xs:element name="bank" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="accounts" type="TenderControlAccountsType" minOccurs="0"/>
			<xs:element name="description" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="amount" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="receiptDetail" type="ReceiptDetailType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetailCustomersType">
		<xs:sequence>
			<xs:element name="customer" type="tpy:TransactionPartyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiptDetailType">
		<xs:sequence>
			<xs:element name="totals" type="TenderPOSLogTotalsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderPOSLogTotalsType">
		<xs:sequence>
			<xs:element name="total" type="TenderPOSLogTotalBase" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderPOSLogTotalBase">
		<xs:sequence>
			<xs:element name="tenderType" type="tmf:TenderTypeCodeEnum" minOccurs="0"/>
			<xs:element name="subTenderType" type="crf:WfmStrType"/>
			<xs:element name="denomination" type="crf:WfmStrType"/>
			<xs:element name="amount" type="amt:AmountType" form="qualified"/>
			<xs:element name="count" type="crf:WfmIntType" form="qualified" minOccurs="0"/>
			<xs:element name="reason" form="qualified" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="crf:ReasonCodeType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="foreignCurrency" type="taf:TenderForeignCurrencyBase" form="qualified" minOccurs="0"/>
			<xs:element name="tenderID" type="crf:TenderIdType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderOverShortType">
		<xs:sequence>
			<xs:element name="over" type="TenderPOSLogTotalsType" minOccurs="0"/>
			<xs:element name="short" type="TenderPOSLogTotalsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Safe">
		<xs:sequence>
			<xs:element name="overShort" type="TenderOverShortType" minOccurs="0"/>
			<xs:element name="source" type="TenderControlAccountType" minOccurs="0"/>
			<xs:element name="destination" type="TenderControlAccountType" minOccurs="0"/>
			<xs:element name="description" type="crf:WfmStrType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SafeTransferType">
		<xs:sequence>
			<xs:element name="totals" type="TenderPOSLogTotalsType" minOccurs="0"/>
			<xs:element name="safe" type="Safe"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BlindPickupType">
		<xs:sequence>
			<xs:element name="dropAmount" type="crf:WfmStrType"/>
			<xs:element name="tenderId" type="crf:WfmStrType"/>
			<xs:element name="enveloped" type="crf:WfmStrType"/>
			<xs:element name="dropNumber" type="crf:WfmStrType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaidInType">
		<xs:sequence>
			<xs:element name="tenderType" type="tmf:TenderTypeCodeEnum" minOccurs="0"/>
			<xs:element name="subTenderType" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="amount" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="count" type="crf:WfmIntType" form="qualified" minOccurs="0"/>
			<xs:element name="reasonCode" type="crf:ReasonCodeType" form="qualified" minOccurs="0"/>
			<xs:element name="tenderId" type="crf:WfmStrType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaidOutType">
		<xs:sequence>
			<xs:element name="tenderType" type="tmf:TenderTypeCodeEnum" minOccurs="0"/>
			<xs:element name="subTenderType" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="amount" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="count" type="crf:WfmIntType" form="qualified" minOccurs="0"/>
			<xs:element name="reasonCode" type="crf:ReasonCodeType" form="qualified" minOccurs="0"/>
			<xs:element name="tenderId" type="crf:WfmStrType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderAccountBaseType">
		<xs:sequence>
			<xs:element name="id" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="externalId" type="crf:WfmStrType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderAccountsType">
		<xs:sequence>
			<xs:element name="account" type="TenderAccountBaseType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderAccountType">
		<xs:complexContent>
			<xs:extension base="TenderAccountBaseType">
				<xs:sequence>
					<xs:element name="overShort" type="TenderOverShortType" minOccurs="0"/>
					<xs:element name="source" type="crf:WfmStrType" minOccurs="0"/>
					<xs:element name="destination" type="crf:WfmStrType" minOccurs="0"/>
					<xs:element name="description" type="crf:WfmStrType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TenderControlAccountType">
		<xs:complexContent>
			<xs:extension base="TenderAccountBaseType">
				<xs:sequence>
					<xs:element name="type" type="nmt:NameTypeType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TenderControlAccountsType">
		<xs:sequence>
			<xs:element name="account" type="TenderControlAccountType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderDeclarationAccountType">
		<xs:complexContent>
			<xs:extension base="TenderAccountBaseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TenderDeclarationType">
		<xs:sequence>
			<xs:element name="account" type="TenderDeclarationAccountType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="totals" type="TenderPOSLogTotalsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderPickupType">
		<xs:sequence>
			<xs:element name="accounts" type="TenderControlAccountsType" minOccurs="0"/>
			<xs:element name="totals" type="TenderPOSLogTotalsType" minOccurs="0"/>
			<xs:element name="safeID" type="SafeIdType" form="qualified" minOccurs="0"/>
			<xs:element name="reasonCode" type="crf:ReasonCodeType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderLoanType">
		<xs:sequence>
			<xs:element name="accounts" type="TenderControlAccountsType" minOccurs="0"/>
			<xs:element name="type" type="tmf:TenderLoanTypeEnum" minOccurs="0"/>
			<xs:element name="totals" type="TenderPOSLogTotalsType" minOccurs="0"/>
			<xs:element name="safeID" type="SafeIdType" form="qualified" minOccurs="0"/>
			<xs:element name="reasonCode" type="crf:ReasonCodeType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="POSLogCPOSSession">
		<xs:sequence>
			<xs:element name="isForced" type="crf:WfmBoolType" minOccurs="0"/>
			<xs:element name="type" type="nmt:NameTypeType" minOccurs="0"/>
			<xs:element name="accountability" type="tmf:AccountabilityTypeCodeEnum" minOccurs="0"/>
			<xs:element name="startDateTimestamp" type="tmz:DateTimezoneType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date and time for the start of this session. It maybe the start of a day or the start of a shift or ...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDateTimestamp" type="tmz:DateTimezoneType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date and time for the end of this session. It maybe the end of a day or the end of a shift or ...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tillID" type="txf:TillIdType" form="qualified" minOccurs="0"/>
			<xs:element name="openBusinessDayDate" type="crf:WfmDateType" form="qualified" minOccurs="0"/>
			<xs:element name="closeBusinessDayDate" type="crf:WfmDateType" form="qualified" minOccurs="0"/>
			<xs:element name="openTransactionSequenceNumber" type="crf:SequenceNumberType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The first transaction in this session.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="closeTransactionSequenceNumber" type="crf:SequenceNumberType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The last transaction in this session.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sessionSettle" type="SettleBase" form="qualified" minOccurs="0"/>
			<xs:element name="lastTransactionSequenceNumber" type="crf:SequenceNumberType" form="qualified" minOccurs="0"/>
			<xs:element name="nonResettableGrandTotal" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="previousNonResettableGrandTotal" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="accountsReceivable" type="AccountsReceivableType" minOccurs="0"/>
			<xs:element name="personalAccounts" type="crf:WfmStrType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiptReprintType">
		<xs:sequence>
			<xs:element name="type" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="transactionLink" type="txf:TransactionLinkType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SafeSettlesType">
		<xs:sequence>
			<xs:element name="date" type="tmz:DateTimezoneType" minOccurs="0"/>
			<xs:element name="settle" type="SafeSettleType" form="qualified" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OpenCloseSettleBalanceType">
		<xs:complexContent>
			<xs:extension base="amt:AmountType">
				<xs:sequence>
					<xs:element name="tenderType" type="tmf:TenderTypeCodeEnum" minOccurs="0"/>
					<xs:element name="subTenderType" type="crf:WfmStrType" minOccurs="0"/>
					<xs:element name="count" type="crf:WfmIntType" form="qualified" minOccurs="0"/>
					<xs:element name="reason" type="crf:ReasonCodeType" form="qualified" minOccurs="0"/>
					<xs:element name="tenderId" type="crf:WfmStrType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SafeSettleType">
		<xs:sequence>
			<xs:element name="openBalanceTotal" type="OpenCloseSettleBalanceType" minOccurs="0"/>
			<xs:element name="closeBalanceTotal" type="OpenCloseSettleBalanceType" minOccurs="0"/>
			<xs:element name="loanTotal" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="loanCount" type="crf:WfmIntType" minOccurs="0"/>
			<xs:element name="pickupTotal" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="pickupCount" type="crf:WfmIntType" minOccurs="0"/>
			<xs:element name="depositTotal" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="receiptTotal" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="overShort" type="ControlOverShortType" minOccurs="0"/>
			<xs:element name="accounts" type="ControlAccountsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderSummariesType">
		<xs:sequence>
			<xs:element name="summary" type="SettleTenderLedgerBase" form="qualified" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TillSettlesType">
		<xs:sequence>
			<xs:element name="settle" type="TillSettleType" form="qualified" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TillSettleType">
		<xs:sequence>
			<xs:element name="summaries" type="TenderSummariesType" form="qualified" minOccurs="0"/>
			<xs:element name="loan" type="TenderLoanType" minOccurs="0"/>
			<xs:element name="paidIn" type="ControlPOSLogTotalsBase" minOccurs="0"/>
			<xs:element name="paidOut" type="ControlPOSLogTotalsBase" minOccurs="0"/>
			<xs:element name="pickup" type="ControlPOSLogTotalsBase" minOccurs="0"/>
			<xs:element name="reasonCode" type="crf:ReasonCodeType" form="qualified" minOccurs="0"/>
			<xs:element name="overShort" type="ControlOverShortType" minOccurs="0"/>
			<xs:element name="accounts" type="ControlAccountsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettleBase">
		<xs:sequence>
			<xs:element name="transactionCount" type="CountCommonData" form="qualified" minOccurs="0"/>
			<xs:element name="totalNetSalesAmount" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The total value of all sales (net of returns) performed at the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNetReturnAmount" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The total value of all returns performed at the till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalTaxAmount" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>including full- and half taxes independent of state, county or
                        city taxes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalGrossSalesExemptTaxAmount" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gross Sales Amount total for all Tax Exempt sales</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grossPositiveAmount" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The sum of the monetary value for all tenders put into the
                        Till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grossNegativeAmount" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The sum of the monetary value for all tenders taken from the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tenderSummary" type="SettleTenderLedgerBase" form="qualified" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>AKA Till Declaration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="loans" type="SettleLoansBase" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of the sum of all tender loans put into the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paidIn" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of the sum of all PayIns put into the Till</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ControlPOSLogTotalsBase"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="paidOut" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of the sum of all PayOuts taken from the Till</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ControlPOSLogTotalsBase"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="tenderPickup" type="SettleTenderPickupBase" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of the sum of all tender pickups taken from the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="returns" type="SettleReturnBase" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of the sum of all Return line items
                        recorded at the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="refunds" type="ControlPOSLogTotalsBase" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of the sum of all refunds taken from the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="employeeDiscounts" type="ControlPOSLogTotalsBase" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of the sum of all employee discount line items recorded at the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalTipsAmount" type="TotalTipAmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>including cash and credit tips</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sales" type="SettleSalesBase" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of the sum of all Sale line items recorded at the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ControlPOSLogTotalsBase">
		<xs:sequence>
			<xs:element name="total" type="ControlPOSLogTotalBase" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ControlPOSLogTotalBase">
		<xs:sequence>
			<xs:element name="amount" type="amt:AmountType" form="qualified"/>
			<xs:element name="count" type="CountCommonData" form="qualified" minOccurs="0"/>
			<xs:element name="reason" type="crf:ReasonCodeType" form="qualified" minOccurs="0"/>
			<xs:element name="foreignCurrency" type="taf:TenderForeignCurrencyBase" form="qualified" minOccurs="0"/>
			<xs:element name="tenderID" type="crf:TenderIdType" form="qualified" minOccurs="0"/>
			<xs:element name="tenderDescription" type="crf:WfmStrType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="TenderType" type="crf:WfmStrType" form="unqualified"/>
		<xs:attribute name="SubTenderType" type="crf:WfmStrType" form="unqualified"/>
		<xs:attribute name="Denomination" type="crf:WfmStrType" form="unqualified"/>
	</xs:complexType>
	<xs:complexType name="SettleTenderPickupBase">
		<xs:sequence>
			<xs:element name="tenderType" type="crf:WfmStrType"/>
			<xs:element name="typeCode" type="crf:WfmStrType"/>
			<xs:element name="tenders" type="TenderTotalsBase" minOccurs="0"/>
			<xs:element name="totals" type="ControlPOSLogTotalsBase" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="safeID" type="SafeIdType" form="qualified" minOccurs="0"/>
			<xs:element name="reasonCode" type="crf:ReasonCodeType" form="qualified" minOccurs="0"/>
			<xs:element name="account" type="TenderAccountType" minOccurs="0"/>
		</xs:sequence>
		<!-- this is the total by tender type -->
		<!-- this is the total of all tenders for this pickup -->
	</xs:complexType>
	<xs:complexType name="TenderTotalType">
		<xs:sequence>
			<xs:element name="tenderType" type="tmf:TenderTypeCodeEnum" minOccurs="0"/>
			<xs:element name="subTenderType" type="tmf:SubTenderTypeCodesEnum" minOccurs="0"/>
			<xs:element name="amount" type="amt:AmountType"/>
			<xs:element name="countryCode" type="arf:CountryCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderTotalsType">
		<xs:sequence>
			<xs:element name="total" type="TenderTotalType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderTotalsBase">
		<xs:sequence>
			<xs:element name="tender" type="TenderTotalBase" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderTotalBase">
		<xs:sequence>
			<xs:element name="tenderTotals" type="TenderTotalsType" form="qualified"/>
			<xs:element name="reason" type="crf:ReasonCodeType" form="qualified"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TotalTipAmountType">
		<xs:sequence>
			<xs:element name="total" type="amt:AmountType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="POSLogTenderID">
		<xs:simpleContent>
			<xs:extension base="crf:TenderIdType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SettleReturnBase">
		<xs:sequence>
			<xs:element name="tender" type="TenderTotalBase" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="totals" type="ControlPOSLogTotalsBase" form="qualified"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettleSalesBase">
		<xs:sequence>
			<xs:element name="sale" type="SettleSaleBase" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettleSaleBase">
		<xs:sequence>
			<xs:element name="saleId" type="crf:WfmStrType" form="qualified" minOccurs="0"/>
			<xs:element name="saleTransactions" type="crf:WfmStrType" form="qualified" minOccurs="0"/>
			<xs:element name="tender" type="TenderTotalBase" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="totals" type="ControlPOSLogTotalsBase" form="qualified"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettleLoansBase">
		<xs:sequence>
			<xs:element name="tender" type="TenderTotalBase" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="total" type="ControlPOSLogTotalsBase" form="qualified"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettleStoreCouponBase">
		<xs:sequence>
			<xs:element name="totals" type="ControlPOSLogTotalsBase" form="qualified">
				<xs:annotation>
					<xs:documentation>The monetary value of the sum of all store coupon line items recorded at the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="couponSummary" type="SettleCouponSummary" form="qualified" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Summary of individual store coupon types during the period being reported</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettleCouponSummary">
		<xs:sequence>
			<xs:element name="couponType" type="crf:WfmStrType" form="qualified">
				<xs:annotation>
					<xs:documentation>coupon type being reported in this node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="total" type="ControlPOSLogTotalsBase" form="qualified">
				<xs:annotation>
					<xs:documentation>The monetary value of the sum of all store coupon line items
                        of this type recorded at the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="POSLogPasswordChange">
		<xs:sequence>
			<xs:element name="oldPassword" type="crf:WfmStrType" form="qualified" minOccurs="0"/>
			<xs:element name="newPassword" type="crf:WfmStrType" form="qualified"/>
			<xs:element name="status" type="tmf:PasswordChangeStatusEnum" minOccurs="0"/>
			<xs:element name="description" type="crf:WfmStrType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="crf:Action" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POSLogPasswordAuthorization">
		<xs:sequence>
			<xs:element name="name" type="crf:WfmStrType" form="qualified"/>
			<xs:element name="password" type="crf:WfmStrType" form="qualified"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="POSLogInvalidSignon">
		<xs:sequence>
			<xs:element name="sequenceNumber" type="crf:SequenceNumberType" form="qualified"/>
			<xs:element name="dateTime" type="tmz:DateTimezoneType" form="qualified"/>
			<xs:element name="operator" type="prf:PartyType" form="qualified"/>
			<xs:element name="invalidPassword" type="crf:WfmStrType" form="qualified" minOccurs="0"/>
			<xs:element name="storeRegister" type="str:StoreType" form="qualified" minOccurs="0"/>
			<xs:element name="reasonCode" type="crf:ReasonCodeType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperatorControlActionType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="operatorSignOn" type="POSLogCPOSSession"/>
				<xs:element name="operatorSignOff" type="POSLogCPOSSession"/>
				<xs:element name="operatorLock" type="tmz:DateTimezoneType"/>
				<xs:element name="operatorUnlock" type="tmz:DateTimezoneType"/>
			</xs:choice>
			<xs:element name="operator" type="prf:PartyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperatorLockedByServerType">
		<xs:sequence>
			<xs:element name="sequenceNumber" type="crf:SequenceNumberType"/>
			<xs:element name="dateTime" type="tmz:DateTimezoneType"/>
			<xs:element name="operator" type="prf:PartyType"/>
			<xs:element name="reasonCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="crf:ReasonCodeType">
							<xs:sequence>
								<xs:element name="retryCount" type="crf:WfmIntType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AccountsReceivable" type="AccountsReceivableType"/>
	<xs:complexType name="AccountsReceivableType">
		<xs:sequence>
			<xs:element name="account" type="ReceivableType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceivableType">
		<xs:sequence>
			<xs:element name="accountID" type="txf:AccountIdType" minOccurs="0"/>
			<xs:element name="accountName" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="providerID" type="txf:ProviderIdType" minOccurs="0"/>
			<xs:element name="amount" type="amt:AmountType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountCommonData">
		<xs:sequence>
			<xs:element name="count" type="CountType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettleTenderLedgerBase">
		<xs:sequence>
			<xs:element name="sales" type="ControlPOSLogTotalsBase" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of all sales recorded using the nominated Tender at the Till</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endings" type="ControlPOSLogTotalsBase" form="qualified" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="LedgerType" type="tmf:TenderLedgerTypeCodeEnum" default="Actual" form="unqualified">
			<xs:annotation>
				<xs:documentation>A code denoting the type of totals in this Till Tender ledger record</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ControlAccountType">
		<xs:complexContent>
			<xs:extension base="TenderControlAccountType">
				<xs:sequence>
					<xs:element name="overShort" type="ControlOverShortType" minOccurs="0"/>
					<xs:element name="source" type="crf:WfmStrType" minOccurs="0"/>
					<xs:element name="destination" type="crf:WfmStrType" minOccurs="0"/>
					<xs:element name="description" type="crf:DescriptionType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ControlAccountsType">
		<xs:sequence>
			<xs:element name="account" type="ControlAccountType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ControlOverShortType">
		<xs:sequence>
			<xs:element name="over" type="ControlPOSLogTotalsBase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="short" type="ControlPOSLogTotalsBase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SetCashierModeType">
		<xs:simpleContent>
			<xs:annotation>
				<xs:documentation>Signals the entry and exit of the POS in and out of TrainingMode at the POS, Manager Mode, etc</xs:documentation>
			</xs:annotation>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
