OutOfStock/Legacy/OOS Symbol/List-O-Matic Symbol Handheld Application/Web References/ScanOutOfStock/ScanOutOfStock.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ScanOutOfStock" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://oos-tst:81/WebService/ScanOutOfStock.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://oos-tst:81/WebService/ScanOutOfStock.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://oos-tst:81/WebService/ScanOutOfStock.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://oos-tst:81/WebService/ScanOutOfStock.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScanOutOfStock_Validate_InputMessage">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_Validate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_CreateEventsFor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventsFor" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_CreateEventsFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventsForResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:ScanProducts" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScanProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProducts_ProductDataReadFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" name="detail" element="q1:ProductDataReadFaultException" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProducts_ScanProductFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" name="detail" element="q2:ScanProductFaultException" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProducts_MovementDataReadFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" name="detail" element="q3:MovementDataReadFaultException" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProducts_ValidationFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" name="detail" element="q4:ValidationFaultException" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProducts_NoProductDataForAnyScanFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" name="detail" element="q5:NoProductDataForAnyScanFaultException" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ValidateFor_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateFor" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ValidateFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateForResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_CreateEventFor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventFor" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_CreateEventFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventForResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_RegionNames_InputMessage">
    <wsdl:part name="parameters" element="tns:RegionNames" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_RegionNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegionNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_StoreNamesFor_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreNamesFor" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_StoreNamesFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreNamesForResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_RegionAbbreviations_InputMessage">
    <wsdl:part name="parameters" element="tns:RegionAbbreviations" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_RegionAbbreviations_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegionAbbreviationsResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_StoreAbbreviationsFor_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreAbbreviationsFor" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_StoreAbbreviationsFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreAbbreviationsForResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProductsByStoreAbbreviation_InputMessage">
    <wsdl:part name="parameters" element="tns:ScanProductsByStoreAbbreviation" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProductsByStoreAbbreviation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScanProductsByStoreAbbreviationResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProductsByStoreAbbreviation_MovementDataReadFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" name="detail" element="q6:MovementDataReadFaultException" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProductsByStoreAbbreviation_ValidationFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" name="detail" element="q7:ValidationFaultException" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProductsByStoreAbbreviation_ProductDataReadFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" name="detail" element="q8:ProductDataReadFaultException" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProductsByStoreAbbreviation_ScanProductFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" name="detail" element="q9:ScanProductFaultException" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ScanProductsByStoreAbbreviation_NoProductDataForAnyScanFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" name="detail" element="q10:NoProductDataForAnyScanFaultException" />
  </wsdl:message>
  <wsdl:portType name="IScanOutOfStock">
    <wsdl:operation name="Validate">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/Validate" message="tns:IScanOutOfStock_Validate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/ValidateResponse" message="tns:IScanOutOfStock_Validate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEventsFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/CreateEventsFor" message="tns:IScanOutOfStock_CreateEventsFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/CreateEventsForResponse" message="tns:IScanOutOfStock_CreateEventsFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScanProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProducts" message="tns:IScanOutOfStock_ScanProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsResponse" message="tns:IScanOutOfStock_ScanProducts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsProductDataReadFaultExceptionFault" name="ProductDataReadFaultExceptionFault" message="tns:IScanOutOfStock_ScanProducts_ProductDataReadFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsScanProductFaultExceptionFault" name="ScanProductFaultExceptionFault" message="tns:IScanOutOfStock_ScanProducts_ScanProductFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsMovementDataReadFaultExceptionFault" name="MovementDataReadFaultExceptionFault" message="tns:IScanOutOfStock_ScanProducts_MovementDataReadFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsValidationFaultExceptionFault" name="ValidationFaultExceptionFault" message="tns:IScanOutOfStock_ScanProducts_ValidationFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsNoProductDataForAnyScanFaultExceptionFault" name="NoProductDataForAnyScanFaultExceptionFault" message="tns:IScanOutOfStock_ScanProducts_NoProductDataForAnyScanFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/ValidateFor" message="tns:IScanOutOfStock_ValidateFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/ValidateForResponse" message="tns:IScanOutOfStock_ValidateFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEventFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/CreateEventFor" message="tns:IScanOutOfStock_CreateEventFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/CreateEventForResponse" message="tns:IScanOutOfStock_CreateEventFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/Ping" message="tns:IScanOutOfStock_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/PingResponse" message="tns:IScanOutOfStock_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegionNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/RegionNames" message="tns:IScanOutOfStock_RegionNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/RegionNamesResponse" message="tns:IScanOutOfStock_RegionNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreNamesFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/StoreNamesFor" message="tns:IScanOutOfStock_StoreNamesFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/StoreNamesForResponse" message="tns:IScanOutOfStock_StoreNamesFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegionAbbreviations">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/RegionAbbreviations" message="tns:IScanOutOfStock_RegionAbbreviations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/RegionAbbreviationsResponse" message="tns:IScanOutOfStock_RegionAbbreviations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreAbbreviationsFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/StoreAbbreviationsFor" message="tns:IScanOutOfStock_StoreAbbreviationsFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/StoreAbbreviationsForResponse" message="tns:IScanOutOfStock_StoreAbbreviationsFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScanProductsByStoreAbbreviation">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsByStoreAbbreviation" message="tns:IScanOutOfStock_ScanProductsByStoreAbbreviation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsByStoreAbbreviationResponse" message="tns:IScanOutOfStock_ScanProductsByStoreAbbreviation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsByStoreAbbreviationMovementDataReadFaultExceptionFault" name="MovementDataReadFaultExceptionFault" message="tns:IScanOutOfStock_ScanProductsByStoreAbbreviation_MovementDataReadFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsByStoreAbbreviationValidationFaultExceptionFault" name="ValidationFaultExceptionFault" message="tns:IScanOutOfStock_ScanProductsByStoreAbbreviation_ValidationFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsByStoreAbbreviationProductDataReadFaultExceptionFault" name="ProductDataReadFaultExceptionFault" message="tns:IScanOutOfStock_ScanProductsByStoreAbbreviation_ProductDataReadFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsByStoreAbbreviationScanProductFaultExceptionFault" name="ScanProductFaultExceptionFault" message="tns:IScanOutOfStock_ScanProductsByStoreAbbreviation_ScanProductFaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IScanOutOfStock/ScanProductsByStoreAbbreviationNoProductDataForAnyScanFaultExceptionFault" name="NoProductDataForAnyScanFaultExceptionFault" message="tns:IScanOutOfStock_ScanProductsByStoreAbbreviation_NoProductDataForAnyScanFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScanOutOfStock" type="tns:IScanOutOfStock">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEventsFor">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/CreateEventsFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanProducts">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/ScanProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProductDataReadFaultExceptionFault">
        <soap:fault use="literal" name="ProductDataReadFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ScanProductFaultExceptionFault">
        <soap:fault use="literal" name="ScanProductFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MovementDataReadFaultExceptionFault">
        <soap:fault use="literal" name="MovementDataReadFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultExceptionFault">
        <soap:fault use="literal" name="ValidationFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NoProductDataForAnyScanFaultExceptionFault">
        <soap:fault use="literal" name="NoProductDataForAnyScanFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateFor">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/ValidateFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEventFor">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/CreateEventFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegionNames">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/RegionNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreNamesFor">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/StoreNamesFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegionAbbreviations">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/RegionAbbreviations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreAbbreviationsFor">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/StoreAbbreviationsFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanProductsByStoreAbbreviation">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/ScanProductsByStoreAbbreviation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MovementDataReadFaultExceptionFault">
        <soap:fault use="literal" name="MovementDataReadFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultExceptionFault">
        <soap:fault use="literal" name="ValidationFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ProductDataReadFaultExceptionFault">
        <soap:fault use="literal" name="ProductDataReadFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ScanProductFaultExceptionFault">
        <soap:fault use="literal" name="ScanProductFaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NoProductDataForAnyScanFaultExceptionFault">
        <soap:fault use="literal" name="NoProductDataForAnyScanFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScanOutOfStock">
    <wsdl:port name="BasicHttpBinding_IScanOutOfStock" binding="tns:BasicHttpBinding_IScanOutOfStock">
      <soap:address location="http://oos-tst:81/WebService/ScanOutOfStock.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>