OutOfStock/Legacy/BizTalk/QuiverToICIX/IcixSimulator/xsd/Quiver-ICIX v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IcixUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IncidentReportDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Subject" type="xs:string" />
              <xs:element name="Category" type="xs:string" />
              <xs:element name="AssignedTo" type="xs:string" />
              <xs:element name="DateCompleted" type="xs:string" />
              <xs:element name="RootCauseID" type="xs:string" />
              <xs:element name="VendorActionRequired" type="xs:string" />
              <xs:element name="QuiverID" type="xs:string" />
              <xs:element name="Status" type="xs:string" />
              <xs:element name="CommentsToVendor" type="xs:string" />
              <xs:element name="Classification" type="xs:string" />
              <xs:element name="Region" type="xs:string" />
              <xs:element name="Store" type="xs:string" />
              <xs:element name="IncidentDate" type="xs:string" />
              <xs:element name="SubmittedToICIXDate" type="xs:string" />
              <xs:element name="ComplaintType" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ProductInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UPC" type="xs:string" />
              <xs:element name="ProductName" type="xs:string" />
              <xs:element name="Brand" type="xs:string" />
              <xs:element name="LotCode" type="xs:string" />
              <xs:element name="SellByDate" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="VendorInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Vendor" type="xs:string" />
              <xs:element name="FacilityIDs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="FacilityID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Distributor" type="xs:string" />
              <xs:element name="MemberName" type="xs:string" />
              <xs:element name="RQAContact" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ClaimInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IsClaim" type="xs:string" />
              <xs:element name="ClaimType" type="xs:string" />
              <xs:element name="Risk-FacsID" type="xs:string" />
              <xs:element name="CustomerComments" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="GFSS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RiskLevel" type="xs:string" />
              <xs:element name="Comments" type="xs:string" />
              <xs:element name="SampleRecieved" type="xs:string" />
              <xs:element name="PhotoRecieved" type="xs:string" />
              <xs:element name="DatePhotoRecieved" type="xs:string" />
              <xs:element name="WFMRecipient" type="xs:string" />
              <xs:element name="SupportingDocuments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="SupportingDocument" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>