Icon/ESB/Schemas/Icon.Esb.Schemas.Wfm/Schemas/Address/CommonRefTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.wfm.com/Enterprise/AddressMgmt/CommonRefTypes/V1" xmlns:crf="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" targetNamespace="http://schemas.wfm.com/Enterprise/AddressMgmt/CommonRefTypes/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.4">
	<!-- ================== -->
	<!-- Schema Imports             -->
	<!-- ================== -->
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" schemaLocation="../Common/CommonRefTypes.xsd"/>
	<!-- ================== -->
	<!-- Simple Types                 -->
	<!-- ================== -->
	<xs:simpleType name="EmailAddressType">
		<xs:annotation>
			<xs:documentation>Used for an email address. Eg: "team.member@wholefoods.com"></xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:maxLength value="75"/>
			<xs:pattern value="[A-Za-z0-9!#$%&amp;'*+/=?^_'{|}~-]+(\.[A-Za-z0-9!#$%&amp;'*+/=?^_'{|}~-]+)*@([A-Za-z0-9]([A-Za-z0-9-]*[A-Za-z0-9])?\.)+([A-Za-z]{2}|[cC][oO][mM]|[oO][rR][gG]|[nN][eE][tT]|[eE][dD][uU]|[gG][oO][vV]|[mM][iI][lL]|[bB][iI][zZ]|[iI][nN][fF][oO]|[mM][oO][bB][iI]|[nN][aA][mM][eE]|[aA][eE][rR][oO]|[aA][sS][iI][aA]|[jJ][oO][bB][sS]|[mM][uU][sS][eE][uU][mM])">
				<xs:annotation>
					<xs:documentation>This regex has two parts: the part before the @, and the part after the @. There are two alternatives for the part before the @: it can either consist of a series of letters, digits and certain symbols, including one or more dots. However, dots may not appear consecutively or at the start or end of the email address.  Allows any two-letter country code top level domain, and only specific generic top level domains. This regex filters dummy email addresses like asdf@adsf.adsf. You will need to update it as new top-level domains are added.</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressDescType">
		<xs:annotation>
			<xs:documentation>
				in the future it could include files, etc.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:enumeration value="email"/>
			<xs:enumeration value="physical"/>
			<xs:enumeration value="phone"/>
			<xs:enumeration value="url"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressUsgDescType">
		<xs:annotation>
			<xs:documentation>
				how the address is being used/utilized
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:enumeration value="billing"/>
			<xs:enumeration value="business"/>
			<xs:enumeration value="fax"/>
			<xs:enumeration value="home"/>
			<xs:enumeration value="legal"/>
			<xs:enumeration value="mobile"/>
			<xs:enumeration value="work"/>
			<xs:enumeration value="street"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Countries-->
	<xs:simpleType name="CountryCodeType">
		<xs:annotation>
			<xs:documentation>Not storing enums, allowing string of 3 chars</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:maxLength value="3"/>
			<xs:pattern value="[a-z]{3,}|[A-Z]{3,}|[a-z]{2,}|[A-Z]{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryNameType">
		<xs:annotation>
			<xs:documentation>Not storing enums, allowing strings</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType"/>
	</xs:simpleType>
	<!--Phone-->
	<xs:simpleType name="IntnlCountryCodeType">
		<xs:annotation>
			<xs:documentation>
			Phone country code. Up to 3 digits long.
		  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneAreaCodeType">
		<xs:annotation>
			<xs:documentation>
			Phone area code. Up to 5 digits long.
		  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneSubscriberType">
		<xs:annotation>
			<xs:documentation>
				Phone subscriber number. The local number assigned to the line connected. Up to 14 digits long.
			  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneExtType">
		<xs:annotation>
			<xs:documentation>
			Telephone extension number. Arbitrary length.
		  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedLong"/>
	</xs:simpleType>
	<!--Territories-->
	<!-- U.S. States-->
	<xs:simpleType name="UsaStateCodeType">
		<xs:annotation>
			<xs:documentation>State abbreviations, a.k.a. state codes </xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:enumeration value="AL">
				<xs:annotation>
					<xs:documentation>Alabama</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AK">
				<xs:annotation>
					<xs:documentation>Alaska</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AZ">
				<xs:annotation>
					<xs:documentation>Arizona</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AR">
				<xs:annotation>
					<xs:documentation>Arkansas</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CA">
				<xs:annotation>
					<xs:documentation>California</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CO">
				<xs:annotation>
					<xs:documentation>Colorado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CT">
				<xs:annotation>
					<xs:documentation>Connecticut</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DE">
				<xs:annotation>
					<xs:documentation>Delaware</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DC">
				<xs:annotation>
					<xs:documentation>District of Columbia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FL">
				<xs:annotation>
					<xs:documentation>Florida</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GA">
				<xs:annotation>
					<xs:documentation>Georgia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HI">
				<xs:annotation>
					<xs:documentation>Hawaii</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation>Idaho</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IL">
				<xs:annotation>
					<xs:documentation>Illinois</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN">
				<xs:annotation>
					<xs:documentation>Indiana</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IA">
				<xs:annotation>
					<xs:documentation>Iowa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KS">
				<xs:annotation>
					<xs:documentation>Kansas</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KY">
				<xs:annotation>
					<xs:documentation>Kentucky</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LA">
				<xs:annotation>
					<xs:documentation>Louisiana</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ME">
				<xs:annotation>
					<xs:documentation>Maine</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MD">
				<xs:annotation>
					<xs:documentation>Maryland</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MA">
				<xs:annotation>
					<xs:documentation>Massachusetts</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MI">
				<xs:annotation>
					<xs:documentation>Michigan</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MN">
				<xs:annotation>
					<xs:documentation>Minnesota</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MS">
				<xs:annotation>
					<xs:documentation>Mississippi</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MO">
				<xs:annotation>
					<xs:documentation>Missouri</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MT">
				<xs:annotation>
					<xs:documentation>Montana</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NE">
				<xs:annotation>
					<xs:documentation>Nebraska</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NV">
				<xs:annotation>
					<xs:documentation>Nevada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NH">
				<xs:annotation>
					<xs:documentation>New Hampshire</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NJ">
				<xs:annotation>
					<xs:documentation>New Jersey</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NM">
				<xs:annotation>
					<xs:documentation>New Mexico</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NY">
				<xs:annotation>
					<xs:documentation>New York</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NC">
				<xs:annotation>
					<xs:documentation>North Carolina</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ND">
				<xs:annotation>
					<xs:documentation>North Dakota</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OH">
				<xs:annotation>
					<xs:documentation>Ohio</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OK">
				<xs:annotation>
					<xs:documentation>Oklahoma</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OR">
				<xs:annotation>
					<xs:documentation>Oregon</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PA">
				<xs:annotation>
					<xs:documentation>Pennsylvania</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RI">
				<xs:annotation>
					<xs:documentation>Rhode Island</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SC">
				<xs:annotation>
					<xs:documentation>South Carolina</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SD">
				<xs:annotation>
					<xs:documentation>South Dakota</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TN">
				<xs:annotation>
					<xs:documentation>Tennessee</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TX">
				<xs:annotation>
					<xs:documentation>Texas</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UT">
				<xs:annotation>
					<xs:documentation>Utah</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VT">
				<xs:annotation>
					<xs:documentation>Vermont</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VA">
				<xs:annotation>
					<xs:documentation>Virginia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WA">
				<xs:annotation>
					<xs:documentation>Washington</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WV">
				<xs:annotation>
					<xs:documentation>West Virginia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WI">
				<xs:annotation>
					<xs:documentation>Wisconsin</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WY">
				<xs:annotation>
					<xs:documentation>Wyoming</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FD">
				<xs:annotation>
					<xs:documentation>Federal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UsaStateNameType">
		<xs:annotation>
			<xs:documentation>US States, a.k.a. state names</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:enumeration value="Alabama"/>
			<xs:enumeration value="Alaska"/>
			<xs:enumeration value="Arizona"/>
			<xs:enumeration value="Arkansas"/>
			<xs:enumeration value="California"/>
			<xs:enumeration value="Colorado"/>
			<xs:enumeration value="Connecticut"/>
			<xs:enumeration value="Delaware"/>
			<xs:enumeration value="District of Columbia"/>
			<xs:enumeration value="Florida"/>
			<xs:enumeration value="Georgia"/>
			<xs:enumeration value="Hawaii"/>
			<xs:enumeration value="Idaho"/>
			<xs:enumeration value="Illinois"/>
			<xs:enumeration value="Indiana"/>
			<xs:enumeration value="Iowa"/>
			<xs:enumeration value="Kansas"/>
			<xs:enumeration value="Kentucky"/>
			<xs:enumeration value="Louisiana"/>
			<xs:enumeration value="Maine"/>
			<xs:enumeration value="Maryland"/>
			<xs:enumeration value="Massachusetts"/>
			<xs:enumeration value="Michigan"/>
			<xs:enumeration value="Minnesota"/>
			<xs:enumeration value="Mississippi"/>
			<xs:enumeration value="Missouri"/>
			<xs:enumeration value="Montana"/>
			<xs:enumeration value="Nebraska"/>
			<xs:enumeration value="Nevada"/>
			<xs:enumeration value="New Hampshire"/>
			<xs:enumeration value="New Jersey"/>
			<xs:enumeration value="New Mexico"/>
			<xs:enumeration value="New York"/>
			<xs:enumeration value="North Carolina"/>
			<xs:enumeration value="North Dakota"/>
			<xs:enumeration value="Ohio"/>
			<xs:enumeration value="Oklahoma"/>
			<xs:enumeration value="Oregon"/>
			<xs:enumeration value="Pennsylvania"/>
			<xs:enumeration value="Rhode Island"/>
			<xs:enumeration value="South Carolina"/>
			<xs:enumeration value="South Dakota"/>
			<xs:enumeration value="Tennessee"/>
			<xs:enumeration value="Texas"/>
			<xs:enumeration value="Utah"/>
			<xs:enumeration value="Vermont"/>
			<xs:enumeration value="Virginia"/>
			<xs:enumeration value="Washington"/>
			<xs:enumeration value="West Virginia"/>
			<xs:enumeration value="Wisconsin"/>
			<xs:enumeration value="Wyoming"/>
			<xs:enumeration value="Federal"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Canada Provinces-->
	<xs:simpleType name="TerritoryCodeType">
		<xs:restriction base="crf:WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="TerritoryNameType">
		<xs:restriction base="crf:WfmStrType"/>
	</xs:simpleType>
	<!--Counties-->
	<xs:simpleType name="CountyNameType">
		<xs:restriction base="crf:WfmStrType"/>
	</xs:simpleType>
	<!--Cities-->
	<xs:simpleType name="CityCodeType">
		<xs:restriction base="crf:WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="CityNameType">
		<xs:restriction base="crf:WfmStrType"/>
	</xs:simpleType>
	<!--Postal Codes-->
	<xs:simpleType name="PostalCodeType">
		<xs:annotation>
			<xs:documentation>Postal Codes- ToDo need list or explanation of length</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- U.S. ZIP Code Type -->
	<xs:simpleType name="ZipCodeType">
		<xs:annotation>
			<xs:documentation>ZIP Code - 5 digits plus optional 4 or 7 digits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:pattern value="[0-9]{5}(([0-9]{4})|([0-9]{7}))?"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- U.S. ZIP Code 5 Digits -->
	<xs:simpleType name="ZipCode5">
		<xs:annotation>
			<xs:documentation>ZIP Code - 5 digits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- U.S. ZIP Code Type -->
	<xs:simpleType name="ZipCode4">
		<xs:annotation>
			<xs:documentation>ZIP Code - 4 digits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Physical Address-->
	<xs:simpleType name="AddressLineType">
		<xs:annotation>
			<xs:documentation>Address line</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="LatType">
		<xs:annotation>
			<xs:documentation>Latitude measurements range from –90° to +90° (unbounded decimals allowed)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:pattern value="[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LongType">
		<xs:annotation>
			<xs:documentation>Longitude measurements range from –180° to +180° (unbounded decimals allowed)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmStrType">
			<xs:pattern value="[-+]?((180(\.0+))?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="urlType">
		<xs:restriction base="crf:WfmStrType">
			<!--<xs:pattern value=""/>-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrimaryBoolType">
		<xs:annotation>
			<xs:documentation>Flag to distinguish if address element is the primary/main entity.  Example, many email usages, but one of the emails is used as the primary.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmBoolType"/>
	</xs:simpleType>
	<xs:simpleType name="PrivacyBoolType">
		<xs:annotation>
			<xs:documentation>Flag to distinguish if address element is private; meaning it is not to be used/contacted.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="crf:WfmBoolType"/>
	</xs:simpleType>
	<!-- ================== -->
	<!--  Complex Types              -->
	<!-- ================== -->
	<xs:complexType name="EmailType">
		<xs:sequence>
			<xs:element name="address" type="EmailAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="GeocodeGroup">
		<xs:annotation/>
		<xs:sequence>
			<xs:element name="latitude" type="LatType"/>
			<xs:element name="longitude" type="LongType"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="TerritoryType">
		<xs:sequence>
			<xs:element name="code" type="TerritoryCodeType" minOccurs="0"/>
			<xs:element name="name" type="TerritoryNameType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CityType">
		<xs:sequence>
			<xs:element name="code" type="CityCodeType" minOccurs="0"/>
			<xs:element name="name" type="CityNameType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
