IRMA/IRMA Client/WholeFoods.IRMA Solution/IRMA/Service References/IRMAService/IRMA52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WholeFoods.ServiceLibrary.IRMA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountingUploadDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Accounting_In_DateStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AdjustedReceivedCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="AllowanceDiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ApprovedByUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BuyerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CloseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClosedByUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element name="CreatedBy" type="xs:int" />
      <xs:element name="CreatedByName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrSysTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrencyID" type="xs:int" />
      <xs:element minOccurs="0" name="DSDOrder" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeletedOrder" type="xs:boolean" />
      <xs:element minOccurs="0" name="DiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountType" type="xs:int" />
      <xs:element minOccurs="0" name="Distribution_Center" type="xs:boolean" />
      <xs:element minOccurs="0" name="EXEWarehouse" type="xs:int" />
      <xs:element minOccurs="0" name="EinvoiceID" type="xs:int" />
      <xs:element minOccurs="0" name="EinvoiceRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Electronic_Order" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email_Order" type="xs:boolean" />
      <xs:element name="Expected_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fax_Order" type="xs:boolean" />
      <xs:element minOccurs="0" name="Freight3Party_OrderCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="FromQueue" type="xs:boolean" />
      <xs:element minOccurs="0" name="From_SubTeam_Unrestricted" type="xs:int" />
      <xs:element minOccurs="0" name="HFM_Store" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvoiceAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceFreight" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEXEDistributed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVendorExternal" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemsReceived" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturer" type="xs:boolean" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderFreight" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderHeader_ID" type="xs:int" />
      <xs:element name="OrderItems" nillable="true" type="tns:ArrayOfOrderItem" />
      <xs:element name="OrderType_Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderedCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="OriginalCloseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginalOrder_ID" type="xs:int" />
      <xs:element minOccurs="0" name="OverrideTransmissionMethod" type="xs:boolean" />
      <xs:element minOccurs="0" name="POCostDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="POTransmissionTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="PSAddressSequence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PSLocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PSVendorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartialShipment" type="xs:boolean" />
      <xs:element minOccurs="0" name="PayByAgreedCost" type="xs:boolean" />
      <xs:element name="ProductType_ID" type="xs:int" />
      <xs:element name="PurchaseLocation_ID" type="xs:int" />
      <xs:element minOccurs="0" name="QuantityDiscount" type="xs:decimal" />
      <xs:element name="ReceiveLocation_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ReceivingStore_Distribution_Center" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecvLog_No" type="xs:int" />
      <xs:element minOccurs="0" name="RefuseReceivingReasonID" type="xs:int" />
      <xs:element minOccurs="0" name="ResultObject" nillable="true" type="tns:Result" />
      <xs:element minOccurs="0" name="ReturnOrder_ID" type="xs:int" />
      <xs:element name="Return_Order" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sent" type="xs:boolean" />
      <xs:element minOccurs="0" name="SentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShipToStoreCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToStoreNo" type="xs:int" />
      <xs:element minOccurs="0" name="StoreCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Store_No" type="xs:int" />
      <xs:element minOccurs="0" name="Store_Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Store_Vend" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubTeam_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubteamInvoiceNumber" type="xs:int" />
      <xs:element name="SupplyTransferToSubTeam" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyType_SubTeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:int" />
      <xs:element minOccurs="0" name="To_SubTeam_Unrestricted" type="xs:int" />
      <xs:element minOccurs="0" name="TotalHandlingCharge" type="xs:decimal" />
      <xs:element name="Transfer_SubTeam" type="xs:int" />
      <xs:element name="Transfer_To_SubTeam" type="xs:int" />
      <xs:element minOccurs="0" name="Transfer_To_SubTeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadedCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="UploadedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
      <xs:element minOccurs="0" name="VendorDocDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VendorDocID" nillable="true" type="xs:string" />
      <xs:element name="Vendor_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Vendor_Store_No" type="xs:int" />
      <xs:element minOccurs="0" name="WFM" type="xs:boolean" />
      <xs:element minOccurs="0" name="WFM_Store" type="xs:boolean" />
      <xs:element minOccurs="0" name="WarehouseCancelled" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WarehouseSent" type="xs:boolean" />
      <xs:element minOccurs="0" name="WarehouseSentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="isDropShipment" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItem" nillable="true" type="tns:OrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItem" nillable="true" type="tns:ArrayOfOrderItem" />
  <xs:complexType name="OrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustedCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="AlreadyClosed" type="xs:int" />
      <xs:element minOccurs="0" name="CatchweightRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostUnit" type="xs:int" />
      <xs:element minOccurs="0" name="CreditReason_ID" type="xs:int" />
      <xs:element name="DiscountType" type="xs:int" />
      <xs:element minOccurs="0" name="Freight" type="xs:decimal" />
      <xs:element minOccurs="0" name="FreightUnit" type="xs:int" />
      <xs:element minOccurs="0" name="Handling" type="xs:decimal" />
      <xs:element minOccurs="0" name="HandlingCharge" type="xs:decimal" />
      <xs:element minOccurs="0" name="HandlingUnit" type="xs:int" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReceivedWeightRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemAllowanceDiscountAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Item_Description" nillable="true" type="xs:string" />
      <xs:element name="Item_Key" type="xs:int" />
      <xs:element minOccurs="0" name="LandedCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="LineItemCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="LineItemFreight" type="xs:decimal" />
      <xs:element minOccurs="0" name="LineItemHandling" type="xs:decimal" />
      <xs:element minOccurs="0" name="LineNumber" type="xs:int" />
      <xs:element minOccurs="0" name="MarkupCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarkupPercent" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetVendorItemDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderItem_ID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderUOMAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageUnitAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Package_Desc1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Package_Desc2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Package_Unit_ID" type="xs:int" />
      <xs:element name="QuantityDiscount" type="xs:decimal" />
      <xs:element name="QuantityOrdered" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantityReceived" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantityShipped" type="xs:decimal" />
      <xs:element name="QuantityUnit" type="xs:int" />
      <xs:element name="ReasonCodeDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="ReceivedItemCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceivedItemFreight" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceivingDiscrepancyReasonCodeID" type="xs:int" />
      <xs:element minOccurs="0" name="Retail_Unit_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Total_Weight" type="xs:decimal" />
      <xs:element minOccurs="0" name="UOMAdjustedUnitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="UOMUnitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitExtCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Units_Per_Pallet" type="xs:int" />
      <xs:element minOccurs="0" name="VendorItemID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eInvoiceQuantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="eInvoiceQuantityUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eInvoiceWeight" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItem" nillable="true" type="tns:OrderItem" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DVO_PONumber" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flag" type="xs:boolean" />
      <xs:element minOccurs="0" name="FunctionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRMA_PONumber" type="xs:int" />
      <xs:element minOccurs="0" name="SQLString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="ArrayOfInvoiceCharge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceCharge" nillable="true" type="tns:InvoiceCharge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceCharge" nillable="true" type="tns:ArrayOfInvoiceCharge" />
  <xs:complexType name="InvoiceCharge">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChargeID" type="xs:int" />
      <xs:element minOccurs="0" name="ChargeValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ElementName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLPurchaseAccount" type="xs:int" />
      <xs:element minOccurs="0" name="IsAllowance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SACType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceCharge" nillable="true" type="tns:InvoiceCharge" />
  <xs:complexType name="CycleCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Closed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndScan" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExternalCycleHeader" nillable="true" type="tns:ExternalCycleCountHeader" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="InternalCycleHeaders" nillable="true" type="tns:ArrayOfInternalCycleCountHeader" />
      <xs:element minOccurs="0" name="IsEndOfPeriod" type="xs:boolean" />
      <xs:element minOccurs="0" name="StoreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CycleCount" nillable="true" type="tns:CycleCount" />
  <xs:complexType name="ExternalCycleCountHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalCycleCountHeader" nillable="true" type="tns:ExternalCycleCountHeader" />
  <xs:complexType name="ArrayOfInternalCycleCountHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InternalCycleCountHeader" nillable="true" type="tns:InternalCycleCountHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInternalCycleCountHeader" nillable="true" type="tns:ArrayOfInternalCycleCountHeader" />
  <xs:complexType name="InternalCycleCountHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="InventoryLocationID" type="xs:long" />
      <xs:element minOccurs="0" name="StartScan" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InternalCycleCountHeader" nillable="true" type="tns:InternalCycleCountHeader" />
  <xs:complexType name="ArrayOfLists.StoreFTPConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lists.StoreFTPConfig" nillable="true" type="tns:Lists.StoreFTPConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLists.StoreFTPConfig" nillable="true" type="tns:ArrayOfLists.StoreFTPConfig" />
  <xs:complexType name="Lists.StoreFTPConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeDirectory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTPPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTPUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileWriterType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSecureTransfer" type="xs:boolean" />
      <xs:element minOccurs="0" name="POSSystemType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lists.StoreFTPConfig" nillable="true" type="tns:Lists.StoreFTPConfig" />
  <xs:complexType name="ArrayOfLists.ItemUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lists.ItemUnit" nillable="true" type="tns:Lists.ItemUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLists.ItemUnit" nillable="true" type="tns:ArrayOfLists.ItemUnit" />
  <xs:complexType name="Lists.ItemUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="EDISysCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPackageUnit" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlumUnitAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitSysCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit_Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Unit_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Weight_Unit" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lists.ItemUnit" nillable="true" type="tns:Lists.ItemUnit" />
  <xs:complexType name="ArrayOfLists.ShrinkAdjustmentReason">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lists.ShrinkAdjustmentReason" nillable="true" type="tns:Lists.ShrinkAdjustmentReason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLists.ShrinkAdjustmentReason" nillable="true" type="tns:ArrayOfLists.ShrinkAdjustmentReason" />
  <xs:complexType name="Lists.ShrinkAdjustmentReason">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdjustmentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdjustmentID" type="xs:int" />
      <xs:element minOccurs="0" name="InventoryAdjustmentCodeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lists.ShrinkAdjustmentReason" nillable="true" type="tns:Lists.ShrinkAdjustmentReason" />
  <xs:complexType name="ArrayOfLists.GetItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lists.GetItem" nillable="true" type="tns:Lists.GetItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLists.GetItem" nillable="true" type="tns:ArrayOfLists.GetItem" />
  <xs:complexType name="Lists.GetItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CostedByWeight" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemKey" type="xs:int" />
      <xs:element minOccurs="0" name="ItemSubteamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemSubteamNo" type="xs:int" />
      <xs:element minOccurs="0" name="PackageDesc1" type="xs:int" />
      <xs:element minOccurs="0" name="PackageDesc2" type="xs:decimal" />
      <xs:element minOccurs="0" name="PackageUnitAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageUnitID" type="xs:int" />
      <xs:element minOccurs="0" name="RetailUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoldByWeight" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lists.GetItem" nillable="true" type="tns:Lists.GetItem" />
  <xs:complexType name="ArrayOfLists.ReasonCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lists.ReasonCode" nillable="true" type="tns:Lists.ReasonCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLists.ReasonCode" nillable="true" type="tns:ArrayOfLists.ReasonCode" />
  <xs:complexType name="Lists.ReasonCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonCodeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lists.ReasonCode" nillable="true" type="tns:Lists.ReasonCode" />
  <xs:complexType name="ArrayOfLists.Subteam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lists.Subteam" nillable="true" type="tns:Lists.Subteam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLists.Subteam" nillable="true" type="tns:ArrayOfLists.Subteam" />
  <xs:complexType name="Lists.Subteam">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubteamIsFixedSpoilage" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubteamIsUnrestricted" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubteamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubteamNo" type="xs:int" />
      <xs:element minOccurs="0" name="SubteamType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lists.Subteam" nillable="true" type="tns:Lists.Subteam" />
  <xs:complexType name="ArrayOfLists.Store">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lists.Store" nillable="true" type="tns:Lists.Store" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLists.Store" nillable="true" type="tns:ArrayOfLists.Store" />
  <xs:complexType name="Lists.Store">
    <xs:sequence>
      <xs:element minOccurs="0" name="StoreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lists.Store" nillable="true" type="tns:Lists.Store" />
  <xs:complexType name="ArrayOfInventoryLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryLocation" nillable="true" type="tns:InventoryLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryLocation" nillable="true" type="tns:ArrayOfInventoryLocation" />
  <xs:complexType name="InventoryLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvLocDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvLocID" type="xs:long" />
      <xs:element minOccurs="0" name="InvLocName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturing" type="xs:int" />
      <xs:element minOccurs="0" name="StoreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreNo" type="xs:int" />
      <xs:element minOccurs="0" name="SubTeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubteamNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryLocation" nillable="true" type="tns:InventoryLocation" />
  <xs:complexType name="ArrayOfLists.ItemMovement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lists.ItemMovement" nillable="true" type="tns:Lists.ItemMovement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLists.ItemMovement" nillable="true" type="tns:ArrayOfLists.ItemMovement" />
  <xs:complexType name="Lists.ItemMovement">
    <xs:sequence>
      <xs:element minOccurs="0" name="MovementDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MovementQty" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lists.ItemMovement" nillable="true" type="tns:Lists.ItemMovement" />
  <xs:complexType name="ArrayOfLists.ItemBilledQty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lists.ItemBilledQty" nillable="true" type="tns:Lists.ItemBilledQty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLists.ItemBilledQty" nillable="true" type="tns:ArrayOfLists.ItemBilledQty" />
  <xs:complexType name="Lists.ItemBilledQty">
    <xs:sequence>
      <xs:element minOccurs="0" name="BilledQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderQty" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lists.ItemBilledQty" nillable="true" type="tns:Lists.ItemBilledQty" />
  <xs:complexType name="ArrayOfDSDVendor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DSDVendor" nillable="true" type="tns:DSDVendor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDSDVendor" nillable="true" type="tns:ArrayOfDSDVendor" />
  <xs:complexType name="DSDVendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDSDVendor" type="xs:boolean" />
      <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DSDVendor" nillable="true" type="tns:DSDVendor" />
  <xs:complexType name="ArrayOfReasonCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReasonCode" nillable="true" type="tns:ReasonCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReasonCode" nillable="true" type="tns:ArrayOfReasonCode" />
  <xs:complexType name="ReasonCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReasonCodeAbbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonCodeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonCodeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReasonCode" nillable="true" type="tns:ReasonCode" />
  <xs:complexType name="ArrayOfCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency" nillable="true" type="tns:Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrency" nillable="true" type="tns:ArrayOfCurrency" />
  <xs:complexType name="Currency">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyID" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:complexType name="StoreItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvgCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="CanInventory" type="xs:boolean" />
      <xs:element minOccurs="0" name="CostedByWeight" type="xs:boolean" />
      <xs:element minOccurs="0" name="DiscontinueItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="GLAcct" type="xs:int" />
      <xs:element minOccurs="0" name="HFMItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsItemAuthorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSellable" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemKey" type="xs:int" />
      <xs:element minOccurs="0" name="Multiple" type="xs:int" />
      <xs:element minOccurs="0" name="NotAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="OnSale" type="xs:boolean" />
      <xs:element minOccurs="0" name="POSDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageDesc1" type="xs:int" />
      <xs:element minOccurs="0" name="PackageDesc2" type="xs:decimal" />
      <xs:element minOccurs="0" name="PackageUnitAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceChgTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetailSale" type="xs:boolean" />
      <xs:element minOccurs="0" name="RetailSubteamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetailSubteamNo" type="xs:int" />
      <xs:element minOccurs="0" name="SaleEarnedDisc1" type="xs:int" />
      <xs:element minOccurs="0" name="SaleEarnedDisc2" type="xs:int" />
      <xs:element minOccurs="0" name="SaleEarnedDisc3" type="xs:int" />
      <xs:element minOccurs="0" name="SaleEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaleMultiple" type="xs:int" />
      <xs:element minOccurs="0" name="SalePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="SaleStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SignDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoldByWeight" type="xs:boolean" />
      <xs:element minOccurs="0" name="StoreNo" type="xs:int" />
      <xs:element minOccurs="0" name="StoreVendorID" type="xs:int" />
      <xs:element minOccurs="0" name="TransferToSubteamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferToSubteamNo" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorUnitId" type="xs:int" />
      <xs:element minOccurs="0" name="VendorUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WFMItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="retailUnitId" type="xs:int" />
      <xs:element minOccurs="0" name="retailUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vendorCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="vendorPack" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreItem" nillable="true" type="tns:StoreItem" />
  <xs:complexType name="ArrayOfLists.ExternalOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lists.ExternalOrder" nillable="true" type="tns:Lists.ExternalOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLists.ExternalOrder" nillable="true" type="tns:ArrayOfLists.ExternalOrder" />
  <xs:complexType name="Lists.ExternalOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderHeader_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lists.ExternalOrder" nillable="true" type="tns:Lists.ExternalOrder" />
  <xs:complexType name="StoreItemOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastReceived" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastReceivedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrimaryVendorKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryVendorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QtyOnOrder" type="xs:decimal" />
      <xs:element minOccurs="0" name="QtyOnQueue" type="xs:decimal" />
      <xs:element minOccurs="0" name="QtyOnQueueCredit" type="xs:decimal" />
      <xs:element minOccurs="0" name="QtyOnQueueTransfer" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreItemOrderInfo" nillable="true" type="tns:StoreItemOrderInfo" />
  <xs:complexType name="CycleCountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CycleCountInfo" nillable="true" type="tns:CycleCountInfo" />
</xs:schema>