OutOfStock/Legacy/BizTalk/WFM.Nexus.BTS.POC/WFM.ScanProductClient/Service References/BtsServiceRef/BizTalkServiceInstance11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BizTalkServiceInstance" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <CreationInfo Created="2012-10-30 15:42:39Z" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd4" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd5" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd6" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd7" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd8" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd9" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd10" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd11" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd12" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd13" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd14" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd15" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd16" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd17" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd18" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd19" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd20" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd21" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd22" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd23" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cewp1611.wfm.pvt:80/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc?xsd=xsd24" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_Validate_InputMessage">
    <wsdl:part name="part" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_Validate_OutputMessage">
    <wsdl:part name="part" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_CreateEventsFor_InputMessage">
    <wsdl:part name="part" element="tns:CreateEventsFor" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_CreateEventsFor_OutputMessage">
    <wsdl:part name="part" element="tns:CreateEventsForResponse" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_ScanProducts_InputMessage">
    <wsdl:part name="part" element="tns:ScanProducts" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_ScanProducts_OutputMessage">
    <wsdl:part name="part" element="tns:ScanProductsResponse" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_ValidateFor_InputMessage">
    <wsdl:part name="part" element="tns:ValidateFor" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_ValidateFor_OutputMessage">
    <wsdl:part name="part" element="tns:ValidateForResponse" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_CreateEventFor_InputMessage">
    <wsdl:part name="part" element="tns:CreateEventFor" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_CreateEventFor_OutputMessage">
    <wsdl:part name="part" element="tns:CreateEventForResponse" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_Ping_InputMessage">
    <wsdl:part name="part" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_Ping_OutputMessage">
    <wsdl:part name="part" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_RegionNames_InputMessage">
    <wsdl:part name="part" element="tns:RegionNames" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_RegionNames_OutputMessage">
    <wsdl:part name="part" element="tns:RegionNamesResponse" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_StoreNamesFor_InputMessage">
    <wsdl:part name="part" element="tns:StoreNamesFor" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_StoreNamesFor_OutputMessage">
    <wsdl:part name="part" element="tns:StoreNamesForResponse" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_RegionAbbreviations_InputMessage">
    <wsdl:part name="part" element="tns:RegionAbbreviations" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_RegionAbbreviations_OutputMessage">
    <wsdl:part name="part" element="tns:RegionAbbreviationsResponse" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_StoreAbbreviationsFor_InputMessage">
    <wsdl:part name="part" element="tns:StoreAbbreviationsFor" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_StoreAbbreviationsFor_OutputMessage">
    <wsdl:part name="part" element="tns:StoreAbbreviationsForResponse" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_ScanProductsByStoreAbbreviation_InputMessage">
    <wsdl:part name="part" element="tns:ScanProductsByStoreAbbreviation" />
  </wsdl:message>
  <wsdl:message name="BTS_OOS_Orch_ScanProduct_ScanProductAsync_ScanProductsByStoreAbbreviation_OutputMessage">
    <wsdl:part name="part" element="tns:ScanProductsByStoreAbbreviationResponse" />
  </wsdl:message>
  <wsdl:portType name="BTS_OOS_Orch_ScanProduct_ScanProductAsync">
    <wsdl:documentation>service "BTS.OOS.Orch.ScanProduct" port "ScanProductAsync"</wsdl:documentation>
    <wsdl:operation name="Validate">
      <wsdl:documentation>operation "Validate"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_Validate_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_Validate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEventsFor">
      <wsdl:documentation>operation "CreateEventsFor"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_CreateEventsFor_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_CreateEventsFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScanProducts">
      <wsdl:documentation>operation "ScanProducts"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_ScanProducts_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_ScanProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateFor">
      <wsdl:documentation>operation "ValidateFor"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_ValidateFor_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_ValidateFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEventFor">
      <wsdl:documentation>operation "CreateEventFor"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_CreateEventFor_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_CreateEventFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation>operation "Ping"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_Ping_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegionNames">
      <wsdl:documentation>operation "RegionNames"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_RegionNames_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_RegionNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreNamesFor">
      <wsdl:documentation>operation "StoreNamesFor"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_StoreNamesFor_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_StoreNamesFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegionAbbreviations">
      <wsdl:documentation>operation "RegionAbbreviations"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_RegionAbbreviations_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_RegionAbbreviations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreAbbreviationsFor">
      <wsdl:documentation>operation "StoreAbbreviationsFor"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_StoreAbbreviationsFor_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_StoreAbbreviationsFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScanProductsByStoreAbbreviation">
      <wsdl:documentation>operation "ScanProductsByStoreAbbreviation"</wsdl:documentation>
      <wsdl:input message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_ScanProductsByStoreAbbreviation_InputMessage" />
      <wsdl:output message="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync_ScanProductsByStoreAbbreviation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITwoWayAsync" type="tns:BTS_OOS_Orch_ScanProduct_ScanProductAsync">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validate">
      <wsdl:documentation>operation "Validate"</wsdl:documentation>
      <soap:operation soapAction="Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEventsFor">
      <wsdl:documentation>operation "CreateEventsFor"</wsdl:documentation>
      <soap:operation soapAction="CreateEventsFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanProducts">
      <wsdl:documentation>operation "ScanProducts"</wsdl:documentation>
      <soap:operation soapAction="ScanProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateFor">
      <wsdl:documentation>operation "ValidateFor"</wsdl:documentation>
      <soap:operation soapAction="ValidateFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEventFor">
      <wsdl:documentation>operation "CreateEventFor"</wsdl:documentation>
      <soap:operation soapAction="CreateEventFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation>operation "Ping"</wsdl:documentation>
      <soap:operation soapAction="Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegionNames">
      <wsdl:documentation>operation "RegionNames"</wsdl:documentation>
      <soap:operation soapAction="RegionNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreNamesFor">
      <wsdl:documentation>operation "StoreNamesFor"</wsdl:documentation>
      <soap:operation soapAction="StoreNamesFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegionAbbreviations">
      <wsdl:documentation>operation "RegionAbbreviations"</wsdl:documentation>
      <soap:operation soapAction="RegionAbbreviations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreAbbreviationsFor">
      <wsdl:documentation>operation "StoreAbbreviationsFor"</wsdl:documentation>
      <soap:operation soapAction="StoreAbbreviationsFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanProductsByStoreAbbreviation">
      <wsdl:documentation>operation "ScanProductsByStoreAbbreviation"</wsdl:documentation>
      <soap:operation soapAction="ScanProductsByStoreAbbreviation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizTalkServiceInstance">
    <wsdl:port name="BasicHttpBinding_ITwoWayAsync" binding="tns:BasicHttpBinding_ITwoWayAsync">
      <soap:address location="http://cewp1611.wfm.pvt/BTS.OOS/BTS_OOS_Orch_ScanProduct_ScanProductAsync.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>