Icon/ESB/Schemas/Icon.Esb.Schemas.Wfm/Schemas/Transaction/LineItem/CommonRefTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.wfm.com/Enterprise/TransactionMgmt/LineItemType/CommonRefTypes/V2" xmlns:tmf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefEnumTypes/V1" xmlns:txf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTypes/V1" xmlns:erf="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefEnumTypes/V1" xmlns:taf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTenderTypes/V1" xmlns:crf="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" xmlns:amt="http://schemas.wfm.com/Enterprise/AmountMgmt/Amount/V1" xmlns:tmz="http://schemas.wfm.com/Enterprise/TimezoneMgmt/Timezone/V2" xmlns:brf="http://schemas.wfm.com/Enterprise/ItemMgmt/BaseItem/V1" targetNamespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/LineItemType/CommonRefTypes/V2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<!-- ================== -->
	<!-- Schema Imports             -->
	<!-- ================== -->
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" schemaLocation="../../Common/CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefEnumTypes/V1" schemaLocation="../../Common/CommonRefEnumTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTypes/V1" schemaLocation="../Common/CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefEnumTypes/V1" schemaLocation="../Common/CommonRefEnumTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTenderTypes/V1" schemaLocation="../Common/CommonRefTenderTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/ItemMgmt/BaseItem/V1" schemaLocation="../../Item/BaseItem.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/AmountMgmt/Amount/V1" schemaLocation="../../Amount/Amount.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/TimezoneMgmt/Timezone/V2" schemaLocation="../../Timezone/Timezone.xsd"/>
	<!-- ================== -->
	<!--  Simple Types                -->
	<!-- ================== -->
	<xs:simpleType name="ApplicationIdType">
		<xs:restriction base="crf:IdStrType"/>
	</xs:simpleType>
	<xs:simpleType name="TenderSalesTypeCode">
		<xs:restriction base="tmf:TenderSalesTypeCodeEnum"/>
	</xs:simpleType>
	<xs:simpleType name="TenderTypeCode">
		<xs:restriction base="tmf:TenderTypeCodeEnum"/>
	</xs:simpleType>
	<xs:simpleType name="MaskedPANType">
		<xs:restriction base="crf:WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="MaskedAccountIdType">
		<xs:restriction base="crf:WfmStrType"/>
	</xs:simpleType>
	<xs:simpleType name="TenderAuthorizationMethodType">
		<xs:restriction base="tmf:TenderAuthorizationMethodTypeEnum"/>
	</xs:simpleType>
	<xs:simpleType name="TerminalActionCodeTypeCode">
		<xs:restriction base="tmf:TerminalActionCodeTypeCodeEnum"/>
	</xs:simpleType>
	<xs:simpleType name="CheckTypeCode">
		<xs:restriction base="tmf:CheckTypeCodeEnum"/>
	</xs:simpleType>
	<xs:simpleType name="SubTenderTypeCodes">
		<xs:restriction base="tmf:SubTenderTypeCodesEnum"/>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitPaymentMethodCodeType">
		<xs:restriction base="tmf:CreditDebitPaymentMethodCodeEnum"/>
	</xs:simpleType>
	<xs:simpleType name="TokenDataType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- ================== -->
	<!-- Complex Types               -->
	<!-- ================== -->
	<xs:complexType name="DisposalType">
		<xs:sequence>
			<xs:element name="method" type="crf:WfmStrType"/>
			<xs:element name="newItemId" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="itemId" type="crf:ItemIdType" minOccurs="0"/>
						<xs:element name="baseItemType" type="brf:BaseItemType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="epc" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="references" type="ReferencesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EwicPaymentProcessType">
		<xs:annotation>
			<xs:documentation>eWIC element: eWIC specific payment process details.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="maskedAccountId" type="crf:WfmStrType"/>
			<xs:element name="stateCode" type="crf:WfmStrType">
				<xs:annotation>
					<xs:documentation>eWIC card agency state code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HouseAccountType">
		<xs:sequence>
			<xs:element name="accountID" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="accountName" type="crf:WfmStrType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineItemSequenceLinksType">
		<xs:sequence>
			<xs:element name="lineItemSequenceLink" type="crf:SequenceNumberType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentLineItemSequenceLinkType">
		<xs:simpleContent>
			<xs:extension base="crf:SequenceNumberType">
				<xs:attribute name="isPaymentAllowed" type="crf:WfmBoolType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReferencesType">
		<xs:sequence>
			<xs:element name="reference" type="crf:WfmStrType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WICCheckType">
		<xs:annotation>
			<xs:documentation>Type used to describe parameters that were entered for govenrment
				program (WIC etc) tender.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="firstDayToUse" type="crf:WfmDateType" minOccurs="0"/>
			<xs:element name="lastDayToUse" type="crf:WfmDateType" minOccurs="0"/>
			<xs:element name="ammountNotToExceed" type="amt:AmountType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderGiftCardsBase">
		<xs:sequence>
			<xs:element name="card" type="TenderGiftCardBase" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderGiftCardBase">
		<xs:sequence>
			<xs:element name="entryMethod" type="tmf:EntryMethodEnum" minOccurs="0"/>
			<xs:element name="serviceType" type="tmf:ServiceTypeCodeEnum" minOccurs="0"/>
			<xs:element name="cardNumber" type="CardNumber"/>
			<xs:element name="dateSold" type="crf:WfmDateType" minOccurs="0"/>
			<xs:element name="dateActivated" type="crf:WfmDateType" minOccurs="0"/>
			<xs:element name="expirationDate" type="crf:WfmDateType" minOccurs="0"/>
			<xs:element name="initialBalance" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="currentBalance" type="amt:AmountType" minOccurs="0"/>
			<xs:element name="isOpenAmount" type="crf:WfmBoolType" minOccurs="0"/>
			<xs:element name="authorization" type="TenderAuthorizationDomainSpecific" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderAuthorizationDomainSpecific">
		<xs:complexContent>
			<xs:extension base="TenderAuthorizationBase">
				<xs:sequence>
					<xs:element name="hostAuthorized" type="crf:WfmBoolType" minOccurs="0"/>
					<xs:element name="electronicSignature" type="crf:WfmBoolType" minOccurs="0"/>
					<xs:element name="forceOnline" type="crf:WfmBoolType" minOccurs="0"/>
					<xs:element name="authorizationMethod" type="TenderAuthorizationMethodType" minOccurs="0"/>
					<xs:element name="requestedChangeAmount" type="amt:AmountType" form="qualified" minOccurs="0"/>
					<xs:element name="terminalSoftwareVersion" type="crf:IdStrType" form="qualified" minOccurs="0"/>
					<xs:element name="emvDebug" type="EMVDebugType" form="qualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>EuroPay, Master Card, Visa Debug
                                Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="applicationID" type="ApplicationIdType" form="qualified" minOccurs="0"/>
					<xs:element name="diagnosticCode" type="AuthorizationCode" form="qualified" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TenderAuthorizationsBase">
		<xs:sequence>
			<xs:element name="authorization" type="TenderAuthorizationBase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderAuthorizationBase">
		<xs:sequence>
			<xs:element name="isPreAuthorization" type="crf:WfmBoolType" minOccurs="0"/>
			<xs:element name="isVerifiedByPIN" type="crf:WfmBoolType" minOccurs="0"/>
			<xs:element name="isSignatureRequired" type="crf:WfmBoolType" minOccurs="0"/>
			<xs:element name="isCustomerPresent" type="crf:WfmBoolType" minOccurs="0"/>
			<xs:element name="isElectronicSignature" type="crf:WfmBoolType" minOccurs="0"/>
			<xs:element name="verifiedByPINStatus" type="tmf:VerifiedByPINStatusTypeCodeEnum" minOccurs="0"/>
			<xs:element name="authorizationMethod" type="TenderAuthorizationMethodType" minOccurs="0"/>
			<xs:element name="requestedAmount" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It is possible to request more than one approval. Particularly when the TenderAuthorization is a Pre-Authorization that happens at the beginning of the transaction. (eg: Most pay at pump terminals on gas stations will request some arbitrary large amount, and then tender the proper smaller amount)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authorizationCode" type="AuthorizationCode" form="qualified"/>
			<xs:element name="preAuthorizationCode" type="AuthorizationCode" form="qualified" minOccurs="0"/>
			<xs:element name="referenceNumber" type="ReferenceNumber" form="qualified" minOccurs="0"/>
			<xs:element name="merchantNumber" type="MerchantNumber" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A number assigned by the acquirer to identify a particular
                        merchant</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authorizationDateTime" type="tmz:DateTimezoneType" form="qualified" minOccurs="0"/>
			<xs:element name="authorizedChangeAmount" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The amount of change authorized - which may be different from
                        the requested change amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authorizingTermID" type="AuthorizingTermID" form="qualified" minOccurs="0"/>
			<xs:element name="preAuthorizedID" type="PreAuthorizedID" form="qualified" minOccurs="0"/>
			<xs:element name="authorizationDescription" type="AuthorizationDescription" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A free text description of the tender
                        authorization</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reversal" type="txf:ReversalType" form="qualified" minOccurs="0"/>
			<xs:element name="electronicSignatureDecline" type="tmf:POSLogDeclineTypeEnum" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A code denoting the reason for declining an electronic signature for the tender authorization</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receiptText" type="crf:WfmStrType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the message from the provider added to the bottom of the customer's receipt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="signature" type="Signature" form="qualified" minOccurs="0"/>
			<xs:element name="providerID" type="ProviderID" minOccurs="0"/>
			<xs:element name="providerData" type="ProviderDataType" minOccurs="0"/>
			<xs:element name="cardId" type="CardId" minOccurs="0"/>
			<xs:element name="cardType" type="CardType" minOccurs="0"/>
			<xs:element name="authorizationType" type="AuthorizationType" minOccurs="0"/>
			<xs:element name="voiceAuthorization" type="VoiceAuthorizationType" minOccurs="0"/>
			<xs:element name="authorizationResponseCode" type="AuthorizationResponseCode" minOccurs="0"/>
			<xs:element name="extendedData" type="ExtendedData" minOccurs="0"/>
			<xs:element name="prioritizedGroupAmounts" type="PrioritizedGroupAmounts" minOccurs="0"/>
			<xs:element name="tokenData" type="TokenDataType" minOccurs="0"/>
		</xs:sequence>
		<!--R10EXTENSION-->
	</xs:complexType>
	<xs:complexType name="ProviderDataType">
		<xs:annotation>
			<xs:documentation>Holds extra details received from the provider</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startDateTime" type="tmz:DateTimezoneType" minOccurs="0"/>
			<xs:element name="epsResponseCode" type="crf:CodeType" minOccurs="0"/>
			<xs:element name="errorReason" type="crf:ReasonCodeType" minOccurs="0"/>
			<xs:element name="data" type="crf:WfmStrType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EMVDebugType">
		<xs:annotation>
			<xs:documentation>Tender was EuropayMasterCardVisa in debug information mode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cryptogramTypeCode" type="tmf:CryptogramTypeCodeEnum"/>
			<xs:element name="terminalActionCode" type="TerminalActionCodeTypeCode"/>
			<xs:element name="applicationIdentifier" type="ApplicationIdentifier" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the application as described in ISO/IEC 7816-5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationInterchangeProfile" type="ApplicationInterchangeProfile" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the capabilities of the card to support specific
                        functions in the application</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationTransactionCounter" type="ApplicationTransactionCounter" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Counter maintained by the application in the ICC (incrementing
                        the ATC is managed by the ICC)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationUsageControl" type="ApplicationUsageControl" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates issuer's specified restrictions on the geographic
                        usage and services allowed for the application</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationVersionNumber" type="ApplicationVersionNumber" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Version number assigned by the payment system for the
                        application</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authorizationResponseCode" type="AuthorizationResponseCode" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code that defines the disposition of a
                        message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cardholderVerificationMethodResults" type="CardholderVerificationMethodResults" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the results of the last CVM
                        performed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cryptogram" type="Cryptogram" form="qualified" minOccurs="0"/>
			<xs:element name="cryptogramInformationData" type="CryptogramInformationData" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the type of cryptogram and the actions to be performed by the terminal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuerApplicationData" type="IssuerApplicationData" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains proprietary application data for transmission to the issuer in an online transaction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="posEntryMode" type="tmf:EntryMethodEnum" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the method by which the PAN was entered, according to the first two digits of the ISO 8583:1987 POS Entry Mode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="terminalCapabilities" type="PosEntryMode" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the card data input, CVM, and security capabilities of the terminal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="terminalType" type="TerminalType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the environment of the terminal, its communications capability, and its operational control</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="terminalVerificationResults" type="TerminalVerificationResult" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Status of the different functions as seen from the terminal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tranCryptogramType" type="TranCryptogramType" form="qualified" minOccurs="0"/>
			<xs:element name="transactionStatusInformation" type="TransactionStatusInformation" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the functions performed in a transaction 1. Offline data authentication was performed 2. Cardholder verification was performed 3. Card risk management was performed 4. Issuer authentication was performed 5. Terminal risk management was performed 6. Script processing was performed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unpredictableNumber" type="UnpredictableNumber" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value to provide variability and uniqueness to the generation of a cryptogram</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderChangeDomainSpecific">
		<xs:complexContent>
			<xs:extension base="TenderChangeBase">
				<xs:sequence minOccurs="0">
					<xs:element name="voucher" type="TenderVoucherBase" form="qualified" minOccurs="0"/>
					<xs:element name="foodStamp" type="TenderFoodStampBase" form="qualified" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TenderVoucherBase">
		<xs:sequence>
			<xs:element name="typeCode" type="crf:WfmStrType"/>
			<xs:element name="description" type="txf:DescriptionCommonData" form="qualified" minOccurs="0"/>
			<xs:element name="faceValueAmount" type="amt:AmountType" form="qualified" minOccurs="0"/>
			<xs:element name="serialNumber" type="SerialNumber" form="qualified" minOccurs="0"/>
			<xs:element name="expirationDate" type="tmz:DateTimezoneType" form="qualified" minOccurs="0"/>
			<xs:element name="unspentAmount" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of the Voucher that has not been spent and not returned to the customer</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="amt:AmountType">
							<xs:sequence>
								<xs:element name="disposition" type="crf:WfmStrType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="voucherAmountInChange" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of the change that has been given as a
                        Voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issuingStoreNumberID" type="crf:BusinessUnitIdType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderFoodStampsBase">
		<xs:sequence>
			<xs:element name="foodStamp" type="TenderFoodStampBase" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderFoodStampBase">
		<xs:annotation>
			<xs:documentation>US Federal Govt. issued food stamps are used to tender the sale</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="federalID" type="FederalID" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The unique ID for the agency which issued this set of food
                        stamps</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serialNumber" type="SerialNumber" form="qualified" minOccurs="0"/>
			<xs:element name="foodStampsChange" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The monetary value of food stamps that're given in change</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderChangesBase">
		<xs:sequence>
			<xs:element name="change" type="TenderChangeBase" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderChangeBase">
		<xs:sequence>
			<xs:element name="tenderType" type="tmf:TenderTypeCodeEnum" minOccurs="0"/>
			<xs:element name="tenderID" type="TenderId" form="qualified" minOccurs="0"/>
			<xs:element name="amount" type="amt:AmountType" form="qualified"/>
			<xs:element name="foreignCurrency" type="taf:TenderForeignCurrencyBase" form="qualified" minOccurs="0"/>
			<xs:element name="giftCard" type="TenderGiftCardBase" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MonetaryAmountCommonData">
		<xs:complexContent>
			<xs:extension base="amt:AmountType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TenderChecksBase">
		<xs:sequence>
			<xs:element name="check" type="TenderCheckBase" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderCheckBase">
		<xs:sequence>
			<xs:element name="typeCode" type="TenderTypeCode"/>
			<xs:element name="bankID" type="BankID" form="qualified" minOccurs="0"/>
			<xs:element name="checkNumber" type="CheckNumber" form="qualified" minOccurs="0"/>
			<xs:element name="accountNumber" type="AccountNumber" form="qualified" minOccurs="0"/>
			<xs:element name="checkCardNumber" type="CheckCardNumbe" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The human readable number from the Check Guarantee Card that is presented during the check tendering process</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fullMICR" type="FullMicr" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full bank, account &amp; check number from the MICR characters on the bottom of the check being presented</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="count" type="Count" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the number of checks that were tendered</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderCreditDebitsDomainSpecific">
		<xs:sequence>
			<xs:element name="creditDebitCard" type="TenderCreditDebitDomainSpecific" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderCreditDebitDomainSpecific">
		<xs:complexContent>
			<xs:extension base="TenderCreditDebitBase">
				<xs:sequence>
					<xs:element name="paymentMethod" type="CreditPaymentMethod" form="qualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies alternate payment methodologies, i.e. payment out of bonus (Japan)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="numberOfInstallments" type="xs:decimal" form="qualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The number of monthly Credit Card payments the tender amount is split over. Commonly used in tele-marketing campaigns where payment is spread over "3 easy payments" (Japan)
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="frequencyOfBonusPerYear" type="crf:WfmStrType" form="qualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The number of bonus's one received per
                                year</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="purchasedItem" type="PurChasedItem" form="qualified" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The ItemID of the particular item(s) that are being purchased with this tender line item.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fleetInformation" type="FleetInfoBase" form="qualified" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreditPaymentMethod">
		<xs:sequence>
			<xs:element name="paymentMethodCode" type="CreditDebitPaymentMethodCodeType"/>
			<xs:element name="divided" type="crf:WfmIntType" form="qualified" minOccurs="0"/>
			<xs:element name="bonusCount" type="Count" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This data indicates the number of payment out of bonus per year(Japan)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bonusPayAmount" type="amt:AmountType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This code indicates the amount to be paid out of each bonus.(Japan)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bonusMonthDay" type="xs:gMonthDay" form="qualified" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This data indicates the date of bonus.(Japan)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderCreditDebitBase">
		<xs:sequence>
			<xs:element name="cardType" type="CardType"/>
			<xs:element name="typeCode" type="SubTenderTypeCodes"/>
			<xs:element name="isContactlessPayment" type="crf:WfmBoolType"/>
			<xs:element name="issuerIdentificationNumber" type="IssuerIdentificationNumber" form="qualified" minOccurs="0"/>
			<xs:element name="cardHolderName" type="CardHolderName" form="qualified" minOccurs="0"/>
			<xs:element name="primaryAccountNumber" type="AccountNumber" form="qualified"/>
			<xs:element name="issueSequence" type="crf:SequenceNumberType" form="qualified" minOccurs="0"/>
			<xs:element name="expirationDate" type="crf:WfmDateType" form="qualified" minOccurs="0"/>
			<xs:element name="creditCardCompanyCode" type="CreditDebitCardCompanyCode" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>a 6 digit code assigned by the acquirer to uniquely identify a particular credit card company</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="track1Data" type="crf:EncryptedDataType" form="qualified" minOccurs="0"/>
			<xs:element name="track2Data" type="crf:EncryptedDataType" form="qualified" minOccurs="0"/>
			<xs:element name="track3Data" type="crf:EncryptedDataType" form="qualified" minOccurs="0"/>
			<xs:element name="track4Data" type="crf:EncryptedDataType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The bit pattern from track 4 of the magnetic strip on the front of some credit cards as identified in UPOS specification (Japan)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reconciliationCode" type="ReconciliationCode" form="qualified" minOccurs="0"/>
			<xs:element name="startDate" type="crf:WfmDateType" form="qualified" minOccurs="0"/>
			<xs:element name="serviceCode" type="ServiceCode" form="qualified" minOccurs="0"/>
			<xs:element name="maskedPAN" type="MaskedPANType" minOccurs="0"/>
			<xs:element name="maskedAccountId" type="MaskedAccountIdType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FleetInfoBase">
		<xs:sequence>
			<xs:element name="driverID" type="DriverlID" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique identifier for the vehicle driver recorded in the fleet info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vehicleID" type="VehiclelID" form="qualified" minOccurs="0"/>
			<xs:element name="odometerReading" type="xs:unsignedLong" form="qualified" minOccurs="0"/>
			<xs:element name="jobID" type="JobID" form="qualified" minOccurs="0"/>
			<xs:element name="licensePlate" type="LicensePlate" form="qualified" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="TemporaryCar" type="crf:WfmBoolType" form="unqualified"/>
	</xs:complexType>
	<xs:complexType name="TenderCouponsBase">
		<xs:sequence>
			<xs:element name="coupon" type="TenderCouponBase" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderCouponBase">
		<xs:sequence>
			<xs:element name="name" type="crf:NameType" form="qualified" minOccurs="0"/>
			<xs:element name="description" type="txf:DescriptionCommonData" form="qualified" minOccurs="0"/>
			<xs:element name="quantity" type="txf:QuantityType" form="qualified" minOccurs="0"/>
			<xs:element name="manufacturerID" type="ManufacturingId" form="qualified" minOccurs="0"/>
			<xs:element name="familyCode" type="FamilyCode" form="qualified" minOccurs="0"/>
			<xs:element name="expirationDate" type="crf:WfmDateType" form="qualified" minOccurs="0"/>
			<xs:element name="promotionCode" type="PromotionCode" form="qualified" minOccurs="0"/>
			<xs:element name="scanCode" type="txf:ScanDataBase" form="qualified" minOccurs="0"/>
			<xs:element name="dispositionCode" type="DispositionCode" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManualEligibilitiesLinkType">
		<xs:sequence>
			<xs:element name="lineItemSequenceLink" type="PaymentLineItemSequenceLinkType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderRestrictionRuleType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>monetary amount at which a restriction tender rule applies</xs:documentation>
			</xs:annotation>
			<xs:element name="thresholdAmount" type="amt:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>monetary amount at which this rule applies</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lineItemLinks" type="LineItemSequenceLinksType" minOccurs="0"/>
			<xs:element name="manualEligibilityItemLinks" type="ManualEligibilitiesLinkType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TenderId">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CardNumber">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VoiceAuthorizationType">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType">
				<xs:attribute name="Approved" type="crf:WfmBoolType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ApplicationIDwhatisthis">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DiagnosticCode">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AuthorizationCode">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReferenceNumber">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MerchantNumber">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AuthorizingTermID">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PreAuthorizedID">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Signature">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProviderID">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CardId">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CardType">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AuthorizationType">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AuthorizationDescription">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ExtendedData">
		<xs:sequence>
			<xs:element name="data" type="crf:WfmStrType" minOccurs="0"/>
			<xs:element name="tkey" type="crf:WfmStrType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrioritizedGroupAmounts">
		<xs:sequence>
			<xs:element name="group" type="crf:WfmStrType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="amount" type="amt:AmountType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicationIdentifier">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ApplicationInterchangeProfile">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ApplicationTransactionCounter">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ApplicationUsageControl">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ApplicationVersionNumber">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AuthorizationResponseCode">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CardholderVerificationMethodResults">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Cryptogram">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CryptogramInformationData">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IssuerApplicationData">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PosEntryMode">
		<xs:simpleContent>
			<xs:extension base="crf:WfmIntType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TerminalCapabilities">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TerminalType">
		<xs:simpleContent>
			<xs:extension base="crf:WfmIntType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TerminalVerificationResult">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TranCryptogramType">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TransactionStatusInformation">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UnpredictableNumber">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BankID">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CheckNumber">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AccountNumber">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CheckCardNumbe">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CodeType">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SerialNumber">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AdjudicationCode">
		<xs:simpleContent>
			<xs:extension base="CodeType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FullMicr">
		<xs:sequence>
			<xs:element name="fullMicr" type="crf:WfmStrType"/>
			<xs:element name="country" type="crf:WfmStrType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Count">
		<xs:simpleContent>
			<xs:extension base="xs:negativeInteger"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CardHolderName">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IssuerIdentificationNumber">
		<xs:simpleContent>
			<xs:extension base="crf:WfmIntType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CreditDebitCardCompanyCode">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ServiceCode">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReconciliationCode">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FederalID">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PurChasedItem">
		<xs:sequence>
			<xs:element name="ItemId" type="crf:IdStrType"/>
			<xs:element name="epc" type="crf:WfmStrType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JobID">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DriverlID">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VehiclelID">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LicensePlate">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ManufacturingId">
		<xs:simpleContent>
			<xs:extension base="crf:IdStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PromotionCode">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DispositionCode">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FamilyCode">
		<xs:simpleContent>
			<xs:extension base="crf:WfmStrType"/>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
