Icon/Tibco/SharedLibraries/SharedSchemas/SharedResources/Schemas/WholeFoodsMarket_v2.3.1.1070/Locale/Locale.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.wfm.com/Enterprise/LocaleMgmt/Locale/V2" xmlns:crf="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" xmlns:lrf="http://schemas.wfm.com/Enterprise/LocaleMgmt/CommonRefTypes/V1" xmlns:ltr="http://schemas.wfm.com/Enterprise/LocaleMgmt/LocaleTrait/V1" xmlns:adr="http://schemas.wfm.com/Enterprise/AddressMgmt/Address/V2" xmlns:ltp="http://schemas.wfm.com/Enterprise/LocaleMgmt/LocaleType/V2" xmlns:fst="http://schemas.wfm.com/Enterprise/FinancialMgmt/FinancialTransactionAccount/V1" xmlns:iea="http://schemas.wfm.com/Enterprise/ItemMgmt/ItemAttributesEnterprise/V2" xmlns:ira="http://schemas.wfm.com/Enterprise/ItemMgmt/ItemAttributesRegional/V2" xmlns:isa="http://schemas.wfm.com/Enterprise/ItemMgmt/ItemAttributesStore/V2" xmlns:str="http://schemas.wfm.com/Enterprise/StoreMgmt/Store/V2" targetNamespace="http://schemas.wfm.com/Enterprise/LocaleMgmt/Locale/V2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1">
	<!-- ================== -->
	<!-- Schema Imports             -->
	<!-- ================== -->
	<xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" schemaLocation="../Common/CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/LocaleMgmt/CommonRefTypes/V1" schemaLocation="CommonRefTypes.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/AddressMgmt/Address/V2" schemaLocation="../Address/Address.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/LocaleMgmt/LocaleTrait/V1" schemaLocation="LocaleTrait.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/LocaleMgmt/LocaleType/V2" schemaLocation="LocaleType.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/FinancialMgmt/FinancialTransactionAccount/V1" schemaLocation="../FinancialTransactionAccount/FinancialTransactionAccount.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/ItemMgmt/ItemAttributesEnterprise/V2" schemaLocation="../Item/ItemAttributesEnterprise.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/ItemMgmt/ItemAttributesRegional/V2" schemaLocation="../Item/ItemAttributesRegional.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/ItemMgmt/ItemAttributesStore/V2" schemaLocation="../Item/ItemAttributesStore.xsd"/>
	<xs:import namespace="http://schemas.wfm.com/Enterprise/StoreMgmt/Store/V2" schemaLocation="../Store/Store.xsd"/>
	<!-- ================== -->
	<!-- Global Elements             -->
	<!-- ================== -->
	<xs:element name="locale" type="LocaleType"/>
	<xs:complexType name="LocaleType">
		<xs:sequence>
			<xs:element name="id" type="crf:LocaleIdType" minOccurs="0"/>
			<xs:element name="parentId" type="crf:ItemIdType" minOccurs="0"/>
			<xs:element name="name" type="lrf:LocaleNmType"/>
			<xs:element name="openDate" type="lrf:LocaleOpenDtType" minOccurs="0"/>
			<xs:element name="closeDate" type="lrf:LocaleCloseDtType" minOccurs="0"/>
			<xs:element name="addresses" type="lrf:AddressesType" minOccurs="0"/>
			<xs:element name="traits" type="crf:TraitsType" minOccurs="0"/>
			<xs:element name="type" type="ltp:LocaleTypeType"/>
			<xs:element name="financialTransactionAccounts" type="fst:FinancialTransactionAccountType" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>This choice is utlized when using the locale schema within the ITEM schema.</xs:documentation>
				</xs:annotation>
				<xs:element name="enterpriseItemAttributes" type="iea:EnterpriseItemAttributesType">
					<xs:annotation>
						<xs:documentation>If a locale type is Chain, and the schema is filled-out from the ITEM perspective, the Locale can have a set of enterprise level attributes concerning an item. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="regionalItemAttributes" type="ira:RegionalItemAttributesType">
					<xs:annotation>
						<xs:documentation>If a locale type is Region, and the schema is filled-out from the ITEM perspective, the Locale can have a set of regional level attributes concerning an item. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="storeItemAttributes" type="isa:StoreItemAttributesType">
					<xs:annotation>
						<xs:documentation>If a locale type is Store, and the schema is filled-out from the ITEM perspective, the Locale can have a set of store level attributes concerning an item. </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="locales" type="lrf:LocalesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If a locale type is Chain, the Locale can have many region-type locales.  If Region, the Locale can have many store-type locales.  If Store, then Locale has element Store, but no other locale elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="store" type="str:StoreType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If a locale type is Store, then Locale has element Store, but no other locale elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="crf:Action"/>
	</xs:complexType>
</xs:schema>
