Icon/Tibco/R10QueueListener/SharedResources/Schemas/wfm-2.3.0.2050/WholeFoodsMarket/Transaction/Common/CommonRefItemTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefItemTypes/V1"
     xmlns:crf="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1"
     xmlns:erf="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefEnumTypes/V1"
     xmlns:txf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTypes/V1"
     xmlns:tmf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefEnumTypes/V1"
     xmlns:prf="http://schemas.wfm.com/Enterprise/PriceMgmt/Price/V2"
     xmlns:ppf="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefPromotionTypes/V1"
     xmlns:amt="http://schemas.wfm.com/Enterprise/AmountMgmt/Amount/V1"
     xmlns:hpf="http://schemas.wfm.com/Enterprise/HierarchyMgmt/Hierarchy/V1"
     xmlns:tmz="http://schemas.wfm.com/Enterprise/TimezoneMgmt/Timezone/V2"
     xmlns:uom="http://schemas.wfm.com/Enterprise/UnitOfMeasureMgmt/UnitOfMeasure/V2"
     targetNamespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefItemTypes/V1"
     version="11.2"
     elementFormDefault="qualified"
     attributeFormDefault="unqualified">

    <!-- ================== -->
    <!-- Schema Imports             -->
    <!-- ================== -->
    <xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefTypes/V1" schemaLocation="../../Common/CommonRefTypes.xsd"/>
    <xs:import namespace="http://schemas.wfm.com/Enterprise/RetailMgmt/CommonRefEnumTypes/V1" schemaLocation="../../Common/CommonRefEnumTypes.xsd"/>
    <xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefTypes/V1" schemaLocation="../Common/CommonRefTypes.xsd"/>
    <xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefEnumTypes/V1" schemaLocation="../Common/CommonRefEnumTypes.xsd"/>
    <xs:import namespace="http://schemas.wfm.com/Enterprise/TransactionMgmt/CommonRefPromotionTypes/V1" schemaLocation="CommonRefPromoTypes.xsd"/>
    <xs:import namespace="http://schemas.wfm.com/Enterprise/AmountMgmt/Amount/V1" schemaLocation="../../Amount/Amount.xsd"/>
    <xs:import namespace="http://schemas.wfm.com/Enterprise/PriceMgmt/Price/V2" schemaLocation="../../Price/Price.xsd"/>
    <xs:import namespace="http://schemas.wfm.com/Enterprise/TimezoneMgmt/Timezone/V2" schemaLocation="../../Timezone/Timezone.xsd"/>
    <xs:import namespace="http://schemas.wfm.com/Enterprise/UnitOfMeasureMgmt/UnitOfMeasure/V2" schemaLocation="../../Uom/UnitOfMeasure.xsd"/>

    <!-- ================== -->
    <!-- Simple Types                 -->
    <!-- ================== -->
    <xs:simpleType name="ItemIDTypeCodeEnum">
        <xs:restriction base="crf:WfmStrType">
            <xs:enumeration value="GTIN">
                <xs:annotation>
                    <xs:documentation>Global Trade Identification Number</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SGTIN">
                <xs:annotation>
                    <xs:documentation>Serialized GTIN</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSCC">
                <xs:annotation>
                    <xs:documentation>Serialized Shipping Container</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SIN">
                <xs:annotation>
                    <xs:documentation>Shipment ID Number</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PLU">
                <xs:annotation>
                    <xs:documentation>Price Lookup Unit</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SKU">
                <xs:annotation>
                    <xs:documentation>Stock Keeping Unit</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ItemID"/>
            <xs:enumeration value="ISBN"/>
            <xs:enumeration value="ISSN"/>
            <xs:enumeration value="EPC"/>
            <xs:enumeration value="TUC"/>
            <xs:enumeration value="POSDepartment"/>
            <xs:enumeration value="RFID"/>
            <xs:enumeration value="UPC"/>
            <xs:enumeration value="MUZEID"/>
            <xs:enumeration value="AMGID"/>
            <xs:enumeration value="MenuID"/>
            <xs:enumeration value="UPC-A"/>
            <xs:enumeration value="UPC-AWithSupplementalBarcode"/>
            <xs:enumeration value="UPC-E"/>
            <xs:enumeration value="UPC-EWithSupplementalBarcode"/>
            <xs:enumeration value="UPC-D1"/>
            <xs:enumeration value="UPC-D2"/>
            <xs:enumeration value="UPC-D3"/>
            <xs:enumeration value="UPC-D4"/>
            <xs:enumeration value="UPC-D5"/>
            <xs:enumeration value="EAN8"/>
            <xs:enumeration value="JAN8"/>
            <xs:enumeration value="EAN8WithSupplementalBarcode"/>
            <xs:enumeration value="EAN13"/>
            <xs:enumeration value="JAN13"/>
            <xs:enumeration value="EAN13WithSupplementalBarcode"/>
            <xs:enumeration value="EAN-128"/>
            <xs:enumeration value="Standard2Of5"/>
            <xs:enumeration value="Interleaved2Of5"/>
            <xs:enumeration value="Codabar"/>
            <xs:enumeration value="Code39"/>
            <xs:enumeration value="Code93"/>
            <xs:enumeration value="Code128"/>
            <xs:enumeration value="OCRA"/>
            <xs:enumeration value="OCRB"/>
            <xs:enumeration value="PDF417"/>
            <xs:enumeration value="MAXICODE"/>
            <xs:enumeration value="OTHER"/>
            <xs:enumeration value="UNKNOWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DescriptionTypeCodeEnumeration">
        <xs:restriction base="crf:WfmStrType">
            <xs:enumeration value="Long"/>
            <xs:enumeration value="Short"/>
            <xs:enumeration value="Web"/>
            <xs:enumeration value="Supplier"/>
            <xs:enumeration value="L-Romance"/>
            <xs:enumeration value="S-Romance"/>
            <xs:enumeration value="LongRomance"/>
            <xs:enumeration value="ShortRomance"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransactionItemIdType">
        <xs:restriction base="crf:WfmStrType"/>
    </xs:simpleType>

    <!-- ================== -->
    <!-- Complex Types               -->
    <!-- ================== -->
    <xs:complexType name="POSItemIDType">
        <xs:sequence>
            <xs:element name="posItemId" type="crf:ItemIdType"/>
            <xs:element name="posQualifier" type="crf:WfmStrType" minOccurs="0"/>
            <xs:element name="posIdType" type="crf:WfmStrType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MerchandiseyHeirarchyType">
        <xs:complexContent>
            <xs:extension base="crf:HierarchiesType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UnitPriceCommonDataType">
        <xs:sequence>
            <xs:element name="quanity" type="xs:decimal" minOccurs="0"/>
            <xs:element name="unitofmeasureCodeCommonData" type="uom:UomType" minOccurs="0"/>
            <xs:element name="Amount" type="amt:AmountType"/>
            <xs:element name="typeCode" type="crf:CodeType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RetailPriceModifiersType">
        <xs:sequence>
            <xs:element name="modifier" type="RetailPriceModifierType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RetailPriceModifierType">
        <xs:sequence>
            <xs:element name="method" type="tmf:RetailPriceModifierMethodEnum" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Describes type of discount applied to this item</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sequenceNumber" type="crf:SequenceNumberType" minOccurs="0"/>
            <xs:element name="amount" type="amt:AmountType" minOccurs="0"/>
            <xs:element name="percent" type="crf:PercentageType" minOccurs="0"/>
            <xs:element name="expirationDate" type="crf:WfmDateType" minOccurs="0"/>
            <xs:element name="previousPrice" type="prf:PriceType" minOccurs="0"/>
            <xs:element name="promotionId" type="crf:PromotionIdType" minOccurs="0"/>
            <xs:element name="description" type="txf:DescriptionCommonData" minOccurs="0"/>
            <xs:element name="itemLinks" type="crf:LinksType" minOccurs="0"/>
            <xs:element name="quantity" type="txf:QuantityType" minOccurs="0"/>
            <xs:element name="reasonCode" type="crf:ReasonCodeType" minOccurs="0"/>
            <xs:element name="lineItemRewardPromotion" type="ppf:LineItemRewardPromotionType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ApportionmentAmountType">
        <xs:complexContent>
            <xs:extension base="amt:AmountType">
                <xs:sequence>
                    <xs:element name="participator" type="crf:WfmStrType"/>
                    <xs:element name="participatorId" type="crf:WfmStrType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConsumableGroupType">
        <xs:sequence>
            <xs:element name="type" type="crf:WfmStrType"/>
            <xs:element name="ID" type="crf:IdStrType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupIndicatorsType">
        <xs:sequence>
            <xs:element name="groupIndicator" type="GroupIndicatorType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupIndicatorType">
        <xs:annotation>
            <xs:documentation>
        Holds information about the indicator that is displayed next to the
        item in the POS
      </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="indicator" type="crf:WfmStrType" minOccurs="0"/>
            <xs:element name="group" type="crf:WfmStrType" minOccurs="0"/>
            <xs:element name="symbol" type="crf:WfmStrType" minOccurs="0"/>
            <xs:element name="priority" type="crf:WfmIntType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WICType">
        <xs:sequence>
            <xs:element name="amount" type="amt:AmountType">
                <xs:annotation>
                    <xs:documentation>the amount requested to be paid by the eWIC card</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="notExceedAmount" type="amt:AmountType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>NTE (Not to Exceed)- the maximum amount the agency is willing to pay for the WIC Item. Usually returns only when the WIC amount (store price after promos) exceeds the agency amount. Relevant for Non-Cash Value Benefit (CVB) Items only</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lostAmount" type="amt:AmountType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Calculated as WIC Amount - NTE  amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>