Icon/ESB/Schemas/Icon.Esb.Schemas.Ewic/Schemas/BusinessErrorAdditionalData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
		<xs:complexType name="BusinessErrorAdditionalDataEntry">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Key" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BusinessErrorAdditionalData">
		<xs:sequence>
			<xs:element name="DataEntry" type="BusinessErrorAdditionalDataEntry" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>

