Icon/Tibco/SharedLibraries/Schemas/Application/Error.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://schemas.wfm.com/Mammoth/Error.xsd"
	 targetNamespace="http://schemas.wfm.com/Mammoth/Error.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Error">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StackTrace"/>
				<xs:element ref="Code"/>
				<xs:element ref="Message"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Message" type="xs:string"/>
	<xs:element name="Code" type="xs:string"/>
	<xs:element name="StackTrace" type="xs:string"/>
</xs:schema>