OutOfStock/Remove.Linked.Servers/List-O-Matic for Teklogix/List-O-Matic Teklogix Handheld Application/Web References/ScanOutOfStock/ScanOutOfStock.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ScanOutOfStock" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://oos-tst/WebService/ScanOutOfStock.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://oos-tst/WebService/ScanOutOfStock.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://oos-tst/WebService/ScanOutOfStock.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScanOutOfStock_Validate_InputMessage">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_Validate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_CreateEventsFor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventsFor" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_CreateEventsFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventsForResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ValidateFor_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateFor" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_ValidateFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateForResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_CreateEventFor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventFor" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_CreateEventFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventForResponse" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IScanOutOfStock_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IScanOutOfStock">
    <wsdl:operation name="Validate">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/Validate" message="tns:IScanOutOfStock_Validate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/ValidateResponse" message="tns:IScanOutOfStock_Validate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEventsFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/CreateEventsFor" message="tns:IScanOutOfStock_CreateEventsFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/CreateEventsForResponse" message="tns:IScanOutOfStock_CreateEventsFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/ValidateFor" message="tns:IScanOutOfStock_ValidateFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/ValidateForResponse" message="tns:IScanOutOfStock_ValidateFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEventFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/CreateEventFor" message="tns:IScanOutOfStock_CreateEventFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/CreateEventForResponse" message="tns:IScanOutOfStock_CreateEventFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IScanOutOfStock/Ping" message="tns:IScanOutOfStock_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScanOutOfStock/PingResponse" message="tns:IScanOutOfStock_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScanOutOfStock" type="tns:IScanOutOfStock">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEventsFor">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/CreateEventsFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateFor">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/ValidateFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEventFor">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/CreateEventFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IScanOutOfStock/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScanOutOfStock">
    <wsdl:port name="BasicHttpBinding_IScanOutOfStock" binding="tns:BasicHttpBinding_IScanOutOfStock">
      <soap:address location="http://oos-tst/WebService/ScanOutOfStock.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>