OutOfStock/Legacy/OOS_Teklogix/List-O-Matic Teklogix Handheld Application/Web References/ScanOutOfStock/ScanOutOfStock.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OutOfStock.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidationFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationFaultException" nillable="true" type="tns:ValidationFaultException" />
  <xs:complexType name="ScanProductFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScanProductFaultException" nillable="true" type="tns:ScanProductFaultException" />
  <xs:complexType name="MovementDataReadFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovementDataReadFaultException" nillable="true" type="tns:MovementDataReadFaultException" />
  <xs:complexType name="NoProductDataForAnyScanFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoProductDataForAnyScanFaultException" nillable="true" type="tns:NoProductDataForAnyScanFaultException" />
  <xs:complexType name="ProductDataReadFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDataReadFaultException" nillable="true" type="tns:ProductDataReadFaultException" />
</xs:schema>