OutOfStock/DEV-Biztalk.Removal/List-O-Matic for Symbol/List-O-Matic Symbol Handheld Application/Web References/quiver-tst/VimLookup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllRegions">
        <s:complexType />
      </s:element>
      <s:element name="GetAllRegionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRegionsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllStoreAbbrs">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStoreAbbrsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStoreAbbrsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoreRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="store" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoreRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStoreRegionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="upc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="storeabbr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTeam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="upc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="storeabbr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTeamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTeamResult" type="tns:ArrayOfVimTeam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVimTeam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="vimTeam" nillable="true" type="tns:vimTeam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="vimTeam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Team_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subteam_Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="upc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStoreAbbrsByRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStoreAbbrsByRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStoreAbbrsByRegionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStoreNames">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStoreNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStoreNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStoreNamesByRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStoreNamesByRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStoreNamesByRegionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByUPC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="upc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByUPCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByUPCResult" type="tns:ArrayOfVimProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVimProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="vimProduct" nillable="true" type="tns:vimProduct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="vimProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UPC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Brand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BrandName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LotCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BestByDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductBySearchingVIM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchstr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductBySearchingVIMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductBySearchingVIMResult" type="tns:ArrayOfVimProduct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVendorDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Store" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVendorDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVendorDetailsResult" type="tns:ArrayOfVimVendor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVimVendor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="vimVendor" nillable="true" type="tns:vimVendor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="vimVendor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="VENDOR_KEY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEND_ITEM_NUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VENDOR_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPANY_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ADDRESS_LINE_1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ADDRESS_LINE_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CITY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZIP_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COUNTRY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PHONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FAX" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllRegionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRegions" />
  </wsdl:message>
  <wsdl:message name="GetAllRegionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStoreAbbrsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStoreAbbrs" />
  </wsdl:message>
  <wsdl:message name="GetAllStoreAbbrsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStoreAbbrsResponse" />
  </wsdl:message>
  <wsdl:message name="GetStoreRegionSoapIn">
    <wsdl:part name="parameters" element="tns:GetStoreRegion" />
  </wsdl:message>
  <wsdl:message name="GetStoreRegionSoapOut">
    <wsdl:part name="parameters" element="tns:GetStoreRegionResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartment" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetTeamSoapIn">
    <wsdl:part name="parameters" element="tns:GetTeam" />
  </wsdl:message>
  <wsdl:message name="GetTeamSoapOut">
    <wsdl:part name="parameters" element="tns:GetTeamResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="GetCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStoreAbbrsByRegionSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStoreAbbrsByRegion" />
  </wsdl:message>
  <wsdl:message name="GetAllStoreAbbrsByRegionSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStoreAbbrsByRegionResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStoreNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStoreNames" />
  </wsdl:message>
  <wsdl:message name="GetAllStoreNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStoreNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStoreNamesByRegionSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStoreNamesByRegion" />
  </wsdl:message>
  <wsdl:message name="GetAllStoreNamesByRegionSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStoreNamesByRegionResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByUPCSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductByUPC" />
  </wsdl:message>
  <wsdl:message name="GetProductByUPCSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByUPCResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductBySearchingVIMSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductBySearchingVIM" />
  </wsdl:message>
  <wsdl:message name="GetProductBySearchingVIMSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductBySearchingVIMResponse" />
  </wsdl:message>
  <wsdl:message name="GetVendorDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetVendorDetails" />
  </wsdl:message>
  <wsdl:message name="GetVendorDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetVendorDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="VimLookupSoap">
    <wsdl:operation name="GetAllRegions">
      <wsdl:input message="tns:GetAllRegionsSoapIn" />
      <wsdl:output message="tns:GetAllRegionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreAbbrs">
      <wsdl:input message="tns:GetAllStoreAbbrsSoapIn" />
      <wsdl:output message="tns:GetAllStoreAbbrsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStoreRegion">
      <wsdl:input message="tns:GetStoreRegionSoapIn" />
      <wsdl:output message="tns:GetStoreRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <wsdl:input message="tns:GetDepartmentSoapIn" />
      <wsdl:output message="tns:GetDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTeam">
      <wsdl:input message="tns:GetTeamSoapIn" />
      <wsdl:output message="tns:GetTeamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input message="tns:GetCategorySoapIn" />
      <wsdl:output message="tns:GetCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreAbbrsByRegion">
      <wsdl:input message="tns:GetAllStoreAbbrsByRegionSoapIn" />
      <wsdl:output message="tns:GetAllStoreAbbrsByRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreNames">
      <wsdl:input message="tns:GetAllStoreNamesSoapIn" />
      <wsdl:output message="tns:GetAllStoreNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreNamesByRegion">
      <wsdl:input message="tns:GetAllStoreNamesByRegionSoapIn" />
      <wsdl:output message="tns:GetAllStoreNamesByRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByUPC">
      <wsdl:input message="tns:GetProductByUPCSoapIn" />
      <wsdl:output message="tns:GetProductByUPCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductBySearchingVIM">
      <wsdl:input message="tns:GetProductBySearchingVIMSoapIn" />
      <wsdl:output message="tns:GetProductBySearchingVIMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorDetails">
      <wsdl:input message="tns:GetVendorDetailsSoapIn" />
      <wsdl:output message="tns:GetVendorDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VimLookupSoap" type="tns:VimLookupSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRegions">
      <soap:operation soapAction="http://tempuri.org/GetAllRegions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreAbbrs">
      <soap:operation soapAction="http://tempuri.org/GetAllStoreAbbrs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoreRegion">
      <soap:operation soapAction="http://tempuri.org/GetStoreRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <soap:operation soapAction="http://tempuri.org/GetDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeam">
      <soap:operation soapAction="http://tempuri.org/GetTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreAbbrsByRegion">
      <soap:operation soapAction="http://tempuri.org/GetAllStoreAbbrsByRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreNames">
      <soap:operation soapAction="http://tempuri.org/GetAllStoreNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreNamesByRegion">
      <soap:operation soapAction="http://tempuri.org/GetAllStoreNamesByRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByUPC">
      <soap:operation soapAction="http://tempuri.org/GetProductByUPC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductBySearchingVIM">
      <soap:operation soapAction="http://tempuri.org/GetProductBySearchingVIM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorDetails">
      <soap:operation soapAction="http://tempuri.org/GetVendorDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VimLookupSoap12" type="tns:VimLookupSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRegions">
      <soap12:operation soapAction="http://tempuri.org/GetAllRegions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreAbbrs">
      <soap12:operation soapAction="http://tempuri.org/GetAllStoreAbbrs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoreRegion">
      <soap12:operation soapAction="http://tempuri.org/GetStoreRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <soap12:operation soapAction="http://tempuri.org/GetDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeam">
      <soap12:operation soapAction="http://tempuri.org/GetTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap12:operation soapAction="http://tempuri.org/GetCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreAbbrsByRegion">
      <soap12:operation soapAction="http://tempuri.org/GetAllStoreAbbrsByRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreNames">
      <soap12:operation soapAction="http://tempuri.org/GetAllStoreNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStoreNamesByRegion">
      <soap12:operation soapAction="http://tempuri.org/GetAllStoreNamesByRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByUPC">
      <soap12:operation soapAction="http://tempuri.org/GetProductByUPC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductBySearchingVIM">
      <soap12:operation soapAction="http://tempuri.org/GetProductBySearchingVIM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorDetails">
      <soap12:operation soapAction="http://tempuri.org/GetVendorDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VimLookup">
    <wsdl:port name="VimLookupSoap" binding="tns:VimLookupSoap">
      <soap:address location="http://quiver-tst:3215/VimLookup.asmx" />
    </wsdl:port>
    <wsdl:port name="VimLookupSoap12" binding="tns:VimLookupSoap12">
      <soap12:address location="http://quiver-tst:3215/VimLookup.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>